<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Edit Week</h3>
</div>
<div class="modal-body">
  <form name="editWeekForm" class="edit-week-form form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(editWeekForm.weekName), 'has-feedback': hasError(editWeekForm.weekName)}">
      <label for="weekName" class="col-sm-3 control-label">Name:</label>
      <div class="col-sm-9">
        <input id="weekName" name="weekName" type="text" class="form-control" ng-model="weekData.name" ng-maxlength="30" required>
        <small class="input-error" ng-show="hasPropertyError(editWeekForm.weekName, 'required')">Required</small>
        <small class="input-error" ng-show="hasPropertyError(editWeekForm.weekName, 'maxlength')">Too Long</small>
        <span ng-show="hasError(editWeekForm.weekName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="weekType" class="col-sm-3 control-label">Week Type:</label>
      <div class="col-sm-9">
        <select id="weekType" name="weekType" class="form-control" ng-model="weekData.week_type_id" ng-options="weekType.id as weekType.description for weekType in weekTypes"></select>
        <small>week_type_id: {{weekData.week_type_id}}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Starts At (Local Time):</label>
      <div class="col-sm-9">
        <div class="starts-at-dropdown" uib-dropdown is-open="startsAtDropdown.isopen">
          <button type="button" class="starts-at-button btn btn-link" uib-dropdown-toggle>
            <div class="input-group">
              <input type="text" class="form-control" formatted-date data-ng-model="weekData.starts_at" ng-required="true" ng-disabled="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </button>
          <ul class="uib-dropdown-menu datetimepicker-dropdown-menu" role="menu">
            <datetimepicker data-ng-model="weekData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Ends At (Local Time):</label>
      <div class="col-sm-9">
        <div class="ends-at-dropdown" uib-dropdown is-open="endsAtDropdown.isopen">
          <button type="button" class="ends-at-button btn btn-link" uib-dropdown-toggle>
            <div class="input-group">
              <input type="text" class="form-control" formatted-date data-ng-model="weekData.ends_at" ng-required="true" ng-disabled="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </button>
          <ul class="uib-dropdown-menu datetimepicker-dropdown-menu" role="menu">
            <datetimepicker data-ng-model="weekData.ends_at" data-on-set-time="closeEndsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="editWeekForm.$invalid" ng-click="editWeek(weekData)">Update</button>
</div>