.teams-alert, .leagues-alert {
  margin: 20px 0;
}



.play-header-row {
  margin-bottom: 15px;
  .my-teams-header {
    small {
      font-size: 65%;
    }
  }
}

.play-btn-group {
  padding-top: 20px;
  float: right;
}

.managed-leagues-checkbox, .dead-teams-checkbox {
  position: absolute;
  right: 310px;
  top: 15px;
  font-size: 11px;
}

@media all and (max-width: 767px) {
  .play-btn-group {
    float: none !important;
    padding: 0;
  }
  .create-league-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .join-league-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .managed-leagues-checkbox, .dead-teams-checkbox {
    font-size: 10px;
    .leagues {
      display: none;
    }
  }
}

@media all and (max-width: 550px) {
  .managed-leagues-checkbox, .dead-teams-checkbox {
    right: 0;
  }
  .my-teams, .my-leagues {
    font-size: 12px;
  }
}

.list-group-item {
  .team-league, .current-pick {
    font-size: 11px;
    color: #999;
  }
  .inactive-team, .no-pick {
    font-size: 11px;
    color: #a94442;
  }
  .badge {
    float: right;
  }
}


