<div class="play-header-row row">
  <div class="col-sm-7 col-md-7">
    <h3 class="my-teams-header">My Teams & Leagues</h3>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="play-btn-group">
      <button type="button" class="join-league-btn btn btn-primary" ng-click="joinLeague()">Join League</button>
      <button type="button" class="create-league-btn btn btn-primary" ng-click="createLeague()">Create League</button>
    </div>
  </div>
</div>
<hr>
<div class="teams-leagues-tabs">
  <ul class="nav nav-tabs">
    <li ng-class="{'active': isState(['private.play.teams'])}" ng-click="resetSearch()">
      <a ng-click="myTeams(selectedSeasonId)"><span class="my-teams">My Teams</span></a>
    </li>
    <li ng-class="{'active': isState(['private.play.leagues'])}" ng-click="resetSearch()">
      <a ng-click="myLeagues(selectedSeasonId)"><span class="my-leagues">My Leagues</span></a>
    </li>
  </ul>
  <div class="seasons">
    <div class="form-control" dropdown-select="startedSeasons" dropdown-model="selectedSeason" dropdown-item-label="name" dropdown-onchange="changeSeason(selected)"></div>
  </div>
  <div class="input-group custom-search-form filter-team-league">
    <input type="text" class="form-control" placeholder="Search..." ng-model="query">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
</div>
<div class="play-content" ui-view="playContent"></div>

