.games-header-row {
  margin-bottom: 15px;
}

.week-games .game-score, .game-starts {
  font-size: 11px;
  color: #999;
}

.week-btn-group, .complete-week-btn-group {
  padding-top: 20px;
  float: right;
}

@media all and (max-width: 767px) {

  .week-btn-group, .complete-week-btn-group {
    float: none !important;
    padding: 0;
  }

  .send-reminder-btn, .create-game-btn, .complete-week-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

}



