<div class="games-header-row row">
  <div class="col-sm-6 col-md-6">
    <h3>{{weekData.display}} <br>
      <small>Complete: {{weekData.complete}}</small></h3>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="week-btn-group">
      <button type="button" class="send-reminder-btn btn btn-default" ng-click="confirmSendReminder(weekData)">Send Reminder</button>
      <button type="button" class="create-game-btn btn btn-primary" ng-click="createGame(weekData, games)">Create Game</button>
    </div>
  </div>
</div>
<div class="week-games list-group">
  <a ng-repeat="game in games" ng-click="editGame(game)" class="list-group-item">
    <div class="row">
      <div class="game-display-name col-sm-6 col-md-6"><i class="fa fa-check fa-fw" ng-show="game.complete === true" title="Game finished"></i> {{game.display}}<br><span class="game-starts">{{dateFormat(game.starts_at, "ddd, mmm d yyyy h:MM TT (Z)")}}</span></div>
      <div class="game-score col-sm-6 col-md-6">{{game.squads[0].name}}: {{game.visiting_squad_score}} | {{game.squads[1].name}}: {{game.home_squad_score}}</div>
    </div>
  </a>
</div>
<div class="complete-week-btn-group">
  <button type="button" class="complete-week-btn btn btn-danger" ng-click="confirmWeekComplete(weekData)">Complete Week</button>
</div>
