<div class="games-header-row row">
  <div class="col-sm-6 col-md-6">
    <h3><i class="fa fa-check fa-fw" ng-show="weekData.complete === true" title="Week complete"></i> {{weekData.season_type}} {{weekData.display}} <small><a ng-click="editWeek(weekData)">[ edit ]</a></small><br>
      <small>Reminder Sent: <span ng-show="!weekData.reminder_sent_at">N/A</span><span ng-show="weekData.reminder_sent_at">{{dateFormat(weekData.reminder_sent_at, "ddd mmm d h:MM TT (Z)")}}</span></small>
    </h3>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="week-btn-group">
      <button type="button" class="send-reminder-btn btn btn-default" ng-click="confirmSendReminder(weekData)">Send Reminder</button>
      <button type="button" class="create-game-btn btn btn-primary" ng-click="createGame(weekData, games)">Create Game</button>
    </div>
  </div>
</div>
<div class="games-tab">
  <ul class="nav nav-tabs">
    <li class="active"><a>Games [ {{games.length}} ]</a></li>
  </ul>
  <div class="input-group custom-search-form filter-league-join">
    <input type="text" class="form-control" placeholder="Search games..." ng-model="gameQuery">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
</div>
<div class="week-games list-group">
  <a ng-repeat="game in games | filter:search:strict" ng-click="editGame(game, weekData)" class="list-group-item">
    <div class="row">
      <div class="game-display-name col-sm-6 col-md-6">
        <i class="fa fa-check fa-fw" ng-show="game.complete" title="Game complete"></i>
        <i class="fa fa-clock-o fa-fw" style="color: #ff472e;" ng-show="game.postponed && !game.complete" title="Game postponed"></i>
        <span ng-show="game.playoff">*</span>{{game.display}}<br>
        <span class="game-starts"><span style="color:#FF0000;" ng-show="game.tbd">TBD</span><span ng-show="!game.tbd">{{dateFormat(game.starts_at, "ddd, mmm d yyyy h:MM TT (Z)")}}</span><span ng-show="game.if_necessary"> *If Necessary</span><span ng-show="game.postponed"> | *PPD</span></span></div>
      <div class="game-score col-sm-6 col-md-6">
        <span ng-show="game.note.length > 0">{{game.note}} - </span>{{game.squads[0].name}}: {{game.visiting_squad_score}} | {{game.squads[1].name}}: {{game.home_squad_score}} <span>{{game.ot_display}}</span><br>
        Picks: {{game.pick_count}}
      </div>
    </div>
  </a>
</div>
<hr>
<div class="complete-week-btn-group">
  <button type="button" class="complete-week-btn btn btn-danger" ng-click="confirmWeekComplete(weekData)">Complete Week</button>
</div>
