$icon-font-path: "../assets/fonts/";

@import url(//fonts.googleapis.com/css?family=Raleway:700,400,500,600,300);

@import "variables";
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/bootstrap";

// common
@import "../common/modules/header/header";
@import "../common/modules/message/message";
@import "../common/modules/footer/footer";
@import "../common/modules/confirm/confirm";

// public
@import "../modules/public/home/home";
@import "../modules/public/faq/faq";
@import "../modules/public/faq/general/faq.general";
@import "../modules/public/faq/pickem/faq.pickem";
@import "../modules/public/faq/survivor/faq.survivor";
@import "../modules/public/abuse/abuse";
@import "../modules/public/signin/signin";
@import "../modules/public/register/register";
@import "../modules/public/register/terms/register.terms";

// private
// user
@import "../modules/private/user/user";
@import "../modules/private/user/reset/user.reset";

// league
@import "../modules/private/league/league";
@import "../modules/private/league/new/league.new";
@import "../modules/private/league/view/league.view";
@import "../modules/private/league/edit/league.edit";
@import "../modules/private/league/contact/league.contact";
@import "../modules/private/league/message/league.message";
@import "../modules/private/league/join/league.join";
@import "../modules/private/league/invite/league.invite";
@import "../modules/private/league/invite/request/league.invite.request";

// leagues
@import "../modules/private/leagues/leagues";
@import "../modules/private/leagues/join/leagues.join";
@import "../modules/private/leagues/join/public/leagues.join.public";
@import "../modules/private/leagues/join/private/leagues.join.private";
@import "../modules/private/leagues/manage/leagues.manage";
@import "../modules/private/leagues/my/leagues.my";

// team
@import "../modules/private/team/team";
@import "../modules/private/team/view/team.view";
@import "../modules/private/team/view/picks/team.view.picks";
@import "../modules/private/team/edit/team.edit";
@import "../modules/private/team/message/team.message";
@import "../modules/private/team/pick/team.pick";
@import "../modules/private/team/pick/one/team.pick.one";
@import "../modules/private/team/pick/many/team.pick.many";

// play
@import "../modules/private/play/play";
@import "../modules/private/play/leagues/play.leagues";
@import "../modules/private/play/teams/play.teams";

// admin
@import "../modules/private/admin/admin";
@import "../modules/private/admin/game/edit/admin.game.edit";
@import "../modules/private/admin/game/new/admin.game.new";
@import "../modules/private/admin/seasons/admin.seasons";
@import "../modules/private/admin/seasons/season/admin.season";
@import "../modules/private/admin/seasons/season/new/admin.season.new";
@import "../modules/private/admin/seasons/season/edit/admin.season.edit";
@import "../modules/private/admin/week/admin.week";
@import "../modules/private/admin/week/new/admin.week.new";
@import "../modules/private/admin/week/edit/admin.week.edit";
@import "../modules/private/admin/squads/admin.squads";
@import "../modules/private/admin/squads/new/admin.squads.new";
@import "../modules/private/admin/squads/edit/admin.squads.edit";


html.home {
  height: 100%;
  width: 100%;
}

html.not-home {
  //  for sticky footer
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

body.home {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}

body.not-home {
  //  for sticky footer
  margin-bottom: 80px;
}

.app {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  font-size: 17px;
}

.landing-message {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 100;
}

.footer {
  //  for sticky footer
  #menu {
    position: absolute;
    bottom: 0;
    left: 51px;
    right: 0;
    z-index: 80;
    line-height: 12px;
    h1 {
      position: relative;
      left: -65px;
      margin-bottom: -23px;
      width: 64px;
      opacity: 0.99;
      a {
        text-decoration: none;
        padding: 7px 10px 5px 0;
        color: #fff;
        background: #000 0 -30px repeat-x;
        font-size: 10px;
        text-align: right;
        display: block;
      }
    }
    div.links {
      height: 23px;
      background: #666;
      opacity: 0.6;
      padding: 5px 0 0 10px;
      span {
        text-decoration: none;
        font-size: 10px;
        color: #fff;
      }
    }
  }
}

/*!
 * angular-loading-bar v0.4.2
 * https://chieffancypants.github.io/angular-loading-bar
 * Copyright (c) 2014 Wes Cruver
 * License: MIT
 */

/* Make clicks pass-through */
#loading-bar,
#loading-bar-spinner {
  pointer-events: none;
  -webkit-pointer-events: none;
  -webkit-transition: 350ms linear all;
  -moz-transition: 350ms linear all;
  -o-transition: 350ms linear all;
  transition: 350ms linear all;
}

#loading-bar.ng-enter,
#loading-bar.ng-leave.ng-leave-active,
#loading-bar-spinner.ng-enter,
#loading-bar-spinner.ng-leave.ng-leave-active {
  opacity: 0;
}

#loading-bar.ng-enter.ng-enter-active,
#loading-bar.ng-leave,
#loading-bar-spinner.ng-enter.ng-enter-active,
#loading-bar-spinner.ng-leave {
  opacity: 1;
}

#loading-bar .bar {
  -webkit-transition: width 350ms;
  -moz-transition: width 350ms;
  -o-transition: width 350ms;
  transition: width 350ms;

  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

/* Fancy blur effect */
#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .45;
  -moz-box-shadow: #29d 1px 0 6px 1px;
  -ms-box-shadow: #29d 1px 0 6px 1px;
  -webkit-box-shadow: #29d 1px 0 6px 1px;
  box-shadow: #29d 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

#loading-bar-spinner {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 10px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 14px;
  height: 14px;

  border:  solid 2px transparent;
  border-top-color:  #29d;
  border-left-color: #29d;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* end loading bar css */

/****** dropdown-select *******/

.wrap-dd-select {
  /* Size and position */
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px;

  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;

  /* Styles */
  background: #fff;
  border-radius: 7px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(50,50,50,0.1);
  cursor: pointer;
  outline: none;

  /* Font settings */
  font-weight: bold;
  color: #8AA8BD;
  z-index: 100;
  line-height: 1;
}

.wrap-dd-select:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #8aa8bd transparent;
}

.wrap-dd-select .dropdown {
  /* Size & position */
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  /* Styles */
  background: white;
  padding: 0;
  border-radius: inherit;
  border: 1px solid rgba(0,0,0,0.17);
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  font-weight: normal;
  list-style: none;

  /* Hiding */
  visibility: hidden;
}

.wrap-dd-select .dropdown li.divider {
  padding: 2px 0;
  background: #e6e8ea;
}

.wrap-dd-select .dropdown li.divider-label {
  background: #e6e8ea;
  cursor: default;
  color: #000;
  padding: 10px 0;
}

.wrap-dd-select .dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #8aa8bd;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgba(255,255,255,1);
  cursor: pointer;
}

.wrap-dd-select .dropdown li i {
  float: right;
  color: inherit;
}

.wrap-dd-select .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}

.wrap-dd-select .dropdown li:last-of-type a {
  border-radius: 0 0 7px 7px;
  border: none;
}

/* Hover state */

.wrap-dd-select .dropdown li:hover a {
  background: #f3f8f8;
}

.wrap-dd-select .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}

.wrap-dd-select .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0,0,0,0.1) transparent;
}

.wrap-dd-select.active .dropdown {
  visibility: visible;
}

/****** end dropdown-select *******/

.small-gray {
  font-size: 11px;
  color: #999;
}

[ng-click] {
  cursor: pointer;
}

.modal-header {
  background-color: #222;
  border-color: #090909;
  color: #999;
  .close {
    span { color: #fff }
  }
}

.signin-other-container {
  text-align: center;
  margin-top: -10px;
  a {
    color: #428bca;
    font-size: 12px;
    text-decoration: underline;
    &:hover, &:focus {
      color: #2a6496;
      text-decoration: underline;
    }
  }
}

.orDiv {
  border-bottom: 1px solid #dcd7d3;
  text-align: center;
  margin: 10px 0 20px;
  height: 11px;
  span {
    display: inline-block;
    background-color: #fffef8;
    padding: 0 10px;
  }
}

@media all and (max-width: 767px) {
  .navbar {
    .orDiv {
      span {
        color: #fff;
        background-color: #222;
      }
    }
  }
}

.custom-search-form {
  position: absolute;
  top: 0;
  right: 0;
  width: 225px;
  input {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }
}

