.teams-container {
  position: relative;
}

.create-team-btn {
  position: absolute;
  right: 0;
  top: 0;
}

.alive-teams, .dead-teams {
  .list-group-item {
    .team-league, .current-pick {
      font-size: 11px;
      color: #999;
    }
    .inactive-team {
      font-size: 11px;
      color: #a94442;
    }
    .badge {
      float: right;
    }
  }
}
