<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Edit Game [ID: {{gameData.id}} ]}</h3>
</div>
<div class="modal-body">
  <form style="padding: 10px;" name="editGameForm" class="edit-game-form form-horizontal" role="form" novalidate>
    <div class="form-group">
      <label class="col-sm-6 control-label">Starts At (Local Time):</label>
      <div class="col-sm-6">
        <div class="dropdown" is-open="startsAtDropdown.isopen">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
              <input type="text" class="form-control" formatted-date data-ng-model="gameData.starts_at" ng-required="true" ng-disabled="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="gameData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 1 }"/>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="visitingSquad" class="col-sm-6 control-label">Visiting Squad:</label>
      <div class="col-sm-6">
        <select id="visitingSquad" name="visitingSquad" class="form-control" ng-model="gameData.visiting_squad_id" ng-options="visitingSquad.id as visitingSquad.name for visitingSquad in squads"></select>
      </div>
    </div>
    <div class="form-group">
      <label for="homeSquad" class="col-sm-6 control-label" >Home Squad:</label>
      <div class="col-sm-6">
        <select id="homeSquad" name="homeSquad" class="form-control" ng-model="gameData.home_squad_id" ng-options="homeSquad.id as homeSquad.name for homeSquad in squads"></select>
      </div>
    </div>
    <div class="form-group">
      <label for="visitorScore" class="col-sm-6 control-label">{{getSquad(gameData.visiting_squad_id).name}} Score:</label>
      <div class="col-sm-6">
        <input id="visitorScore" name="visitorScore" type="number" min="0" class="form-control" ng-model="gameData.visiting_squad_score" select-on-click required>
      </div>
    </div>
    <div class="form-group">
      <label for="homeScore" class="col-sm-6 control-label">{{getSquad(gameData.home_squad_id).name}} Score:</label>
      <div class="col-sm-6">
        <input id="homeScore" name="homeScore" type="number" min="0" class="form-control" ng-model="gameData.home_squad_score" select-on-click required>
      </div>
    </div>
    <div class="form-group">
      <label for="complete" class="col-sm-6 control-label">Completed:</label>
      <div class="col-sm-6">
        <input id="complete" name="complete" type="checkbox" ng-model="gameData.complete">
      </div>
    </div>
    <hr>
    <a ng-show="!showOT" ng-click="showOT = true">Show OT Options</a>
    <a ng-show="showOT" ng-click="showOT = false">Hide OT Options</a>
    <div ng-show="showOT">
      <div class="form-group">
        <label for="shootout" class="col-sm-6 control-label">Shootout:</label>
        <div class="col-sm-6">
          <input id="shootout" name="shootout" type="checkbox" ng-model="gameData.shootout">
        </div>
      </div>
      <div class="form-group">
        <label for="overtimes" class="col-sm-6 control-label">Overtimes:</label>
        <div class="col-sm-6">
          <input id="overtimes" name="overtimes" type="number" class="form-control" ng-model="gameData.overtimes" select-on-click required>
        </div>
      </div>
      <div class="form-group">
        <label for="innings" class="col-sm-6 control-label">Innings:</label>
        <div class="col-sm-6">
          <input id="innings" name="innings" type="number" class="form-control" ng-model="gameData.innings" select-on-click required>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="editGameForm.$invalid" ng-click="editGame(gameData)">Update</button>
</div>