<div class="dead-teams list-group">
  <a ng-repeat="team in deadTeams | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(seasonId, team)" class="list-group-item">
        <div class="row">
            <div class="team-name col-sm-4 col-md-4">{{team.name}} <span class="team-league">{{team.league.name}}</span></div>
            <div class="col-sm-8 col-md-8">
                <span class="current-pick">Last Pick: Seattle</span>
                <span class="badge">View Picks</span>
            </div>
        </div>
    </a>
</div>

<div class="dead-teams-pagination" ng-show="(deadTeams | filter:search:strict).length > 0">
  <pagination boundary-links="true" max-size="4" total-items="(deadTeams | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>

<div class="alert alert-info" ng-show="deadTeams.length == 0">
  No dead teams :)
</div>
