<div ng-show="teams.length > 0" class="leagues-container">
  <div class="my-teams list-group">
    <a ng-repeat="team in teams | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(season, team)" class="list-group-item">
      <div class="row">
        <div class="league-name foo-bar col-sm-6 col-md-6">
          <i class="fa fa-comment fa-fw" ng-show="team.message.length > 0" title="Has message from commish"></i>
          <i class="fa fa-times fa-fw" title="Deactivated Team" ng-show="!team.active"></i>
          <i class="fa fa-thumbs-down fa-fw" title="Dead Team" ng-show="team.active && !team.alive"></i> <span ng-class="{'inactive-team-name': !team.active}">{{team.name}}</span> <span class="team-league">{{team.league.name}}</span></div>
        <div class="col-sm-6 col-md-6">
          <span class="current-pick" ng-class="{'no-pick': hasNoPick(team)}" ng-show="team.active">Current Loser: {{team.last_pick_squad_name}}</span>
          <span class="inactive-team" ng-show="!team.active">Contact the commish to reactivate team</span>
          <span class="badge">View</span>
        </div>
      </div>
    </a>
  </div>

  <div class="my-league-pagination" ng-show="teams.length > teamsPerPage && (teams | filter:search:strict).length > 0">
    <pagination boundary-links="true" max-size="4" total-items="(teams | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="teams-alert alert alert-info" ng-show="teams.length == 0">
  No teams :( Maybe you should <a class="alert-link" ng-click="joinLeague(season)">join a league</a> pronto!
</div>
