<div ng-show="teams.length > 0" class="leagues-container">
  <div class="my-teams list-group">
    <a class="list-group-item" ng-class="{'inactive': !team.active || !team.alive}" ng-repeat="team in teams | aliveTeamFilter:teamOptions | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(season, team)">
      <div class="row">
        <div class="league-name col-sm-6 col-md-6">
          <i class="fa fa-comment fa-fw" ng-show="team.message.length > 0 && team.active && team.alive" title="Has message from commish"></i>
          <span ng-class="{'dead-team-name': !team.active || !team.alive, 'no-pick': hasNoPick(team)}">{{team.name}}</span><br><span class="team-league">{{team.league.name}}</span></div>
        <div class="col-sm-6 col-md-6">
          <span class="current-pick" ng-class="{'no-pick': hasNoPick(team)}" ng-show="team.active && team.started">Pick: [ <span class="current-loser-name">{{team.last_pick_squad.name}}</span><span class="current-loser-abbrev">{{team.last_pick_squad.abbrev}}</span> ]</span>
          <span class="current-pick" ng-show="team.active && !team.started">Starts {{team.start_week}}</span>
          <span class="inactive-team" ng-show="!team.active">Contact the commish to reactivate team</span>
          <span class="badge">{{team.correct_picks_count}} correct</span>
        </div>
      </div>
    </a>
  </div>

  <div class="my-league-pagination" ng-show="teams.length > teamsPerPage && (teams | filter:search:strict).length > 0">
    <pagination boundary-links="true" max-size="4" total-items="(teams | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="teams-alert alert alert-info" ng-show="(teams | aliveTeamFilter:teamOptions | filter:search:strict).length == 0">
  No teams :( Maybe you'd like to <a class="alert-link" ng-click="joinLeague(season)">join a league</a> asap.
</div>
