<div ng-show="teams.length > 0" class="leagues-container">
  <div class="my-teams list-group">
    <a class="list-group-item" ng-class="{'inactive': !team.active || !team.alive}" ng-repeat="team in teams | orderBy:[inPlay, 'name'] | aliveTeamFilter:teamOptions | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(team)">
      <div class="row">
        <div class="league-name col-sm-5 col-md-5">
          <i class="fa fa-comment fa-fw" ng-show="team.message.length > 0" title="Has message from commish"></i>
          <span ng-class="{'dead-team-name': !team.active || !team.alive}">{{team.name}}</span><br><span class="team-league">{{team.league.name}}</span></div>
        <div class="col-sm-7 col-md-7">
          <span class="current-pick" ng-class="{'no-pick': hasNoPick(team)}" ng-show="team.active && team.started">
            <i class="fa fa-lock fa-fw" ng-show="team.last_pick.locked && team.last_pick.correct == null" title="Pick locked"></i>
            <i class="fa fa-unlock fa-fw" ng-show="!team.last_pick.locked && team.last_pick.correct == null" title="Pick unlocked"></i>
            <i class="fa fa-times fa-fw" ng-show="team.last_pick.correct === false" title="Pick wrong"></i>
            <i class="fa fa-check fa-fw" ng-show="team.last_pick.correct === true" title="Pick correct"></i>
            [ <span class="current-loser-name">{{team.last_pick.name}}</span><span class="current-loser-abbrev">{{team.last_pick.abbrev}}</span> ]
          </span>
          <span class="current-pick" ng-show="team.active && !team.started">Starts {{team.start_week}}</span>
          <span class="inactive-team current-pick" ng-show="!team.active">Team has been deactivated</span>
          <span class="badge">{{team.correct_picks_count}} loser<span ng-show="team.correct_picks_count !== 1">s</span></span>
        </div>
      </div>
    </a>
  </div>

  <div class="my-league-pagination" ng-show="teams.length > teamsPerPage && (teams | filter:search:strict).length > 0">
    <pagination boundary-links="true" max-size="4" total-items="(teams | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div style="clear: both;"></div>
</div>

<div class="teams-alert alert alert-info" ng-show="(teams | aliveTeamFilter:teamOptions | filter:search:strict).length == 0">
  No teams found
</div>
