.league-content {

  .league-coach-menu, .league-commish-menu {
    right: 0;
    left: auto;
  }

  .league-container {
    position: relative;
    .custom-search-form {
      width: 200px;
      position: absolute;
      right: 0;
      top: 0;
    }
    .manage-custom-search-form {
      margin: 5px 0 5px 0;
    }
  }

  @media all and (max-width: 550px) {
    .request-invite-btn {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .join-btn {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .coach-actions {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      .coach-only-btn {
        width: 100%;
      }
    }
    .commish-actions {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      .commish-only-btn {
        width: 100%;
      }
    }
    .league-container {
      .custom-search-form {
        width: 100%;
        position: relative;
        margin: 5px 0 5px 0;
      }
    }
  }

  .league-name {
    margin-top: 0;
    small {
      font-size: 55%
    }
  }

  .league-name-link {
    max-width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    &.disabled {
      color: #000;
    }
  }

  .commish-actions {
    padding: 0 5px 0 0;
    float: right;
  }

  .join-btn, .request-invite-btn {
    float: right;
  }

  .request-invite-btn {
    margin-right: 5px;
  }

  .coach-actions {
    float: right;
  }

  .league-message {
    margin-top: 10px;
  }

  .alive-teams, .dead-teams {
    .list-group-item {
      .coach-name, .current-pick {
        font-size: 11px;
        color: #999;
      }
      .inactive-team, .no-pick {
        font-size: 11px;
        color: #a94442;
      }
      .badge {
        float: right;
      }
    }
  }

  .alive-teams-pagination, .dead-teams-pagination {
    width: 253px;
    margin: -20px auto 0 0;
    float: left;
  }

  .inactive-teams-checkbox {
    float: right;
  }

}
