.league-content {

  @media all and (max-width: 550px) {
    .header-row {
      .league-name {
        max-width: 275px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 0;
        padding-right: 0;
        font-size: 24px;
        &.disabled {
          color: #000;
        }
      }
      .edit-league {
        display: none;
      }
    }
  }

  .winner-icon {
    color: #8a6d3b;
  }

  .league-actions-menu {
    right: 0;
    left: auto;
  }

  .team-name.inactive {
    text-decoration: line-through;
  }

  .league-container {
    position: relative;
    .custom-search-form {
      width: 200px;
      position: absolute;
      right: 0;
      top: 0;
    }
    .manage-custom-search-form {
      margin: 5px 0 5px 0;
    }
  }

  @media all and (max-width: 768px) {
    .request-invite-btn {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .invite-btn {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .join-btn {
      float: none !important;
      padding: 0;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
    }
    .league-actions {
      float: none !important;
      padding: 0;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      .league-actions-btn {
        width: 100%;
      }
    }
    .league-container {
      .custom-search-form {
        width: 100%;
        position: relative;
        margin: 5px 0 5px 0;
      }
    }
    .inactive-teams-checkbox {
      float: none !important;
    }

  }

  .league-name {
    margin-top: 0;
    small.closed-text {
      font-size: 55%;
      color: #a94442;
    }
  }

  .join-btn, .request-invite-btn, .invite-btn {
    float: right;
    margin-left: 5px;
  }

  @media all and (max-width: 768px) {
    .join-btn, .request-invite-btn, .invite-btn {
      height: 30px;
      float: none;
      margin-left: 0;
    }
  }

  .league-actions {
    float: right;
  }

  .league-message {
    margin-top: 10px;
  }

  .alive-teams, .dead-teams {
    .list-group-item {
      .coach-name, .current-pick {
        font-size: 11px;
        color: #999;
      }
      .inactive-team, .no-pick {
        font-size: 11px;
        color: #a94442;
      }
      .badge {
        float: right;
      }
    }
  }

  .alive-teams-pagination, .dead-teams-pagination {
    width: 253px;
    margin: -20px auto 0 0;
    float: left;
  }

  .inactive-teams-checkbox {
    float: right;
  }

}
