<div class="alert alert-success" ng-show="leagueData.start_week_complete && aliveTeams.length == 0">Oops. All of the teams are now dead. Check the 'Dead Teams' tab to see the final results.</div>
<div class="header-row row">
  <div class="col-sm-7 col-md-7">
    <div class="btn-group leagues-dropdown" dropdown is-open="leagueDropdown.isopen">
      <button type="button" class="leagues-btn-link btn btn-link dropdown-toggle" ng-disabled="!isCommish(leagueData)">
        <span class="league-name" ng-class="{'disabled': !isCommish(leagueData)}">
        <i class="fa fa-times icon" title="Closed league" ng-show="!leagueData.open"></i>
        <i class="fa fa-lock icon" title="Private league" ng-show="leagueData.open && !leagueData.public"></i>
        <i class="fa fa-unlock icon" title="Public league" ng-show="leagueData.open && leagueData.public"></i>
        <strong>{{leagueData.name}}</strong></span> <span ng-show="isCommish(leagueData)" class="caret"></span>
      </button>
      <ul class="dropdown-menu league-actions-menu" role="menu">
        <li><a ng-show="isCommish(leagueData) && !leagueData.start_week_complete" ng-click="editLeague(leagueData)">Edit league</a></li>
        <li><a ng-show="isCommish(leagueData)" ng-click="updateMessage(leagueData)">Edit league message</a></li>
        <li><a ng-show="isCommish(leagueData) && teamOptions.inactive == true" ng-click="teamOptions.inactive = false">Hide deactivated teams</a></li>
        <li><a ng-show="isCommish(leagueData) && teamOptions.inactive == false" ng-click="teamOptions.inactive = true">Show deactivated teams</a></li>
      </ul>
    </div>
    <h3 class="league-meta">
      <small ng-show="leagueData.elimination">Survivor League (single elimination)</small>
      <small ng-show="!leagueData.elimination">Biggest Loser League (most correct picks)</small> <br>
      <small>{{starts(leagueData)}}</small> <br>
      <small class="closed-text" ng-show="!leagueData.open">CLOSED TO NEW TEAMS</small>
    </h3>
  </div>
  <div class="col-sm-5 col-md-5">
    <button type="button" class="join-btn btn btn-primary btn-sm" ng-show="!leagueData.start_week_complete" ng-click="joinLeague(leagueData)">Join</button>
    <button type="button" class="invite-btn btn btn-primary btn-sm" ng-show="!leagueData.start_week_complete && (leagueData.public || isCommish(leagueData))" ng-click="invite(leagueData.id)">Invite</button>
    <button type="button" class="request-invite-btn btn btn-primary btn-sm" ng-show="!leagueData.start_week_complete && !leagueData.public && !isCommish(leagueData)" ng-click="requestInvite(leagueData)">Request Invite</button>
  </div>
</div>
<div class="league-message well well-sm" ng-show="!leagueData.start_week_complete || hasTeamInLeague() || isCommish(leagueData)"><i class="fa fa-comment fa-fw" title="Message for the league"></i> <strong>commish to league:</strong> <p class="league-message-text" ng-show="!leagueData.message || leagueData.message.length == 0">nothing</p><p class="league-message-text" ng-show="leagueData.message.length > 0" ng-bind-html="leagueData.message | linky:'_blank'"></p> <a ng-show="isCommish(leagueData)" ng-click="updateMessage(leagueData)">[ edit ]</a><a ng-show="!isCommish(leagueData) && hasTeamInLeague()" ng-click="contactCommish(leagueData)">[ contact ]</a></div>
<ul class="nav nav-tabs">
  <li class="active"><a>Teams [ <span ng-show="leagueData.elimination">{{leagueData.alive_team_count}} / </span>{{leagueData.team_count}} ]</a></li>
</ul>
<div class="input-group custom-search-form filter-league-join">
  <input type="text" class="form-control" placeholder="Search..." ng-model="teamQuery">
</div>
<div class="league-container">
  <div class="league-teams list-group">
    <a class="list-group-item" ng-class="{'inactive': !team.active || !team.alive}" ng-repeat="team in leagueTeams | activeTeamFilter:teamOptions | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(team)">
      <div class="row">
        <div class="league-name col-sm-6 col-md-6">
          <i class="fa fa-user fa-fw" ng-show="isCoach(team)" title="My team"></i> <span class="team-name" ng-class="{'inactive': !team.active || !team.alive}">{{team.name}}</span><br><span class="coach-name">Coach: {{coachName(team)}}</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <span class="current-pick" ng-class="{'no-pick': hasNoPick(team)}" ng-show="team.active">Pick: [ <span class="current-loser-name">{{team.last_pick_squad.name}}</span><span class="current-loser-abbrev">{{team.last_pick_squad.abbrev}}</span> ]</span>
          <span class="inactive-team" ng-show="!team.active">Deactivated by the commish</span>
          <span class="badge">{{team.correct_picks_count}} correct</span>
        </div>
      </div>
    </a>
  </div>
  <div>
    <div class="alert alert-info" ng-show="(leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length == 0">
      No teams found
    </div>
    <div class="league-teams-pagination" ng-show="leagueTeams.length > teamsPerPage && (leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length > 0">
      <pagination boundary-links="true" max-size="4" total-items="(leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
  </div>
</div>
