<div class="header-row row">
  <div class="col-sm-7 col-md-7">
    <div class="btn-group leagues-dropdown" dropdown is-open="leagueDropdown.isopen">
      <button type="button" class="leagues-btn-link btn btn-link dropdown-toggle" ng-disabled="!isCommish(leagueData) && !isAdmin()">
        <span class="league-name" ng-class="{'disabled': !isCommish(leagueData) && !isAdmin()}">
        <i class="fa fa-lock icon" title="Private league" ng-show="!leagueData.public"></i>
        <i class="fa fa-unlock icon" title="Public league" ng-show="leagueData.public"></i>
        <strong>{{leagueData.name}}</strong></span> <span ng-show="isCommish(leagueData) || isAdmin()" class="caret"></span>
      </button>
      <ul class="dropdown-menu league-actions-menu" role="menu">
        <li><a ng-show="isCommish(leagueData) || isAdmin()" ng-click="toggleDropdown($event);editLeague(leagueData)">Edit league</a></li>
        <li><a ng-show="isCommish(leagueData)" ng-click="toggleDropdown($event);updateMessage(leagueData)">Edit league message</a></li>
        <li><a ng-show="isCommish(leagueData)" ng-click="toggleDropdown($event);invite(leagueData.id, isCommish(leagueData), leagueData.closed)">Manage invitations</a></li>
        <li><a ng-show="isCommish(leagueData) && teamOptions.inactive == true" ng-click="toggleDropdown($event);showDeactivatedTeams(false);">Hide deactivated teams</a></li>
        <li><a ng-show="isCommish(leagueData) && teamOptions.inactive == false" ng-click="toggleDropdown($event);showDeactivatedTeams(true);">Show deactivated teams</a></li>
      </ul>
    </div>
    <h3 style="margin-top: 0;">
      <div class="league-meta" ng-class="{'show-meta': !leagueData.closed}">
        <small>Commish [ {{leagueData.commish_names.join(', ')}} ]</small><br>
        <small>{{leagueData.format}}</small>
      </div>
      <small>{{starts(leagueData)}}</small>
    </h3>
  </div>
  <div class="col-sm-5 col-md-5">
    <button type="button" class="join-btn btn btn-primary" ng-show="!leagueData.closed" ng-click="joinLeague(leagueData)">Join ({{leagueData.max_teams_per_user}}X max)</button>
    <button type="button" class="invite-btn btn btn-default" ng-show="!leagueData.closed && (leagueData.public || isCommish(leagueData))" ng-click="invite(leagueData.id, isCommish(leagueData), leagueData.closed)">Invite</button>
    <button type="button" class="request-invite-btn btn btn-default" ng-show="!leagueData.closed && !leagueData.public && !isCommish(leagueData)" ng-click="requestInvite(leagueData)">Request Invite</button>
    <h3 class="league-meta-right" ng-show="leagueData.closed">
      <small>{{leagueData.format}}</small><br>
      <small>Commish [ {{leagueData.commish_names.join(', ')}} ]</small>
    </h3>
  </div>
</div>
<hr>
<div class="league-message" ng-show="!leagueData.closed || hasTeamInLeague() || isCommish(leagueData)">
  <accordion close-others="true">
    <accordion-group is-open="userModel.leagueMessageOpen[leagueData.id]">
      <accordion-heading>
        <i class="fa fa-comment fa-fw"></i> Messages to league [ <span ng-show="leagueData.message.length > 0">1</span><span ng-show="!leagueData.message || leagueData.message.length == 0">0</span> ] <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': userModel.leagueMessageOpen[leagueData.id], 'glyphicon-chevron-right': !userModel.leagueMessageOpen[leagueData.id]}"></i>
      </accordion-heading>
      <p class="league-message-text" ng-show="!leagueData.message || leagueData.message.length == 0">no messages</p><p class="league-message-text" ng-show="leagueData.message.length > 0" ng-bind-html="leagueData.message | linky:'_blank'"></p> <a class="alert-link" ng-show="isCommish(leagueData)" ng-click="updateMessage(leagueData)">[ edit ]</a><a class="alert-link" ng-show="!isCommish(leagueData) && hasTeamInLeague()" ng-click="contactCommish(leagueData)">[ contact commish ]</a>
    </accordion-group>
  </accordion>
  <hr>
</div>
<div class="teams-tab">
  <ul class="nav nav-tabs">
    <li class="active"><a>Teams [ <span ng-show="leagueData.elimination">{{aliveTeamCount(leagueTeams)}} / </span>{{leagueData.team_count}} ]</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Rules <span class="caret"></span>
      </a>
      <div class="dropdown-menu panel panel-default">
        <div class="panel-body rules-panel scrollable-rules-panel scrollable" ng-click="$event.stopPropagation()">
          <accordion close-others="true" ng-show="!leagueData.elimination">
            <accordion-group heading="How do I play?">
              <ol>
                <li>Pick losers each week.</li>
                <li>Root for your losers to lose...duh</li>
              </ol>
            </accordion-group>
            <accordion-group heading="How do I win?">
              Pick the most losers for the week and win the week.
            </accordion-group>
            <accordion-group heading="What do I win?">
              That is between you and the commish of the league. However, please be careful when dealing with money. Don’t send money to anyone you don’t know. Common sense, please.
            </accordion-group>
            <accordion-group heading="How many losers do I pick each week?">
              {{(leagueData.max_picks_per_week) ? leagueData.max_picks_per_week : 'Pick one loser for every game.'}}
            </accordion-group>
            <accordion-group heading="When is the deadline to make my picks?">
              As long as the game hasn't started, you can make a pick for that game.
            </accordion-group>
            <accordion-group heading="Can I pick the same loser twice?">
              Yes sir.
            </accordion-group>
            <accordion-group heading="Do ties count as a loss?">
              No ma'am.
            </accordion-group>
            <accordion-group heading="When is the deadline to join the league?">
              Join anytime.
            </accordion-group>
            <accordion-group heading="What if I fail to make picks for a week?">
              I'm guessing you won't win that week.
            </accordion-group>
            <accordion-group heading="Is there anything else I should know?">
              Not really, but you can read the <a ng-click="readFaq()">faq</a> if you like.
            </accordion-group>
          </accordion>
          <accordion close-others="true" ng-show="leagueData.elimination">
            <accordion-group heading="How do I play?">
              <ol>
                <li>Pick a different loser each week.</li>
                <li>Root for your loser to lose...duh</li>
                <li>If you are wrong, you are out.</li>
                <li>If you are right, you move on to the next week.</li>
              </ol>
            </accordion-group>
            <accordion-group heading="How do I win?">
              The team with the most losers at the end of the season wins.
            </accordion-group>
            <accordion-group heading="What do I win?">
              That is between you and the commish of the league. However, please be careful when dealing with money. Don’t send money to anyone you don’t know. Common sense, please.
            </accordion-group>
            <accordion-group heading="How many losers do I pick each week?">
              1
            </accordion-group>
            <accordion-group heading="When is the deadline to make my pick?">
              As long as a game hasn't started, you can make a pick for that game. But make sure you make a pick before the week ends.
            </accordion-group>
            <accordion-group heading="Can I pick the same loser twice?">
              Nope. Unless you make the playoffs where all losers are once again available to pick.
            </accordion-group>
            <accordion-group heading="Do ties count as a loss?">
              Negative. {{(leagueData.eliminate_on_tie) ? 'A tie will result in elimination.' : 'But, a tie will not result in elimination.'}}
            </accordion-group>
            <accordion-group heading="When is the deadline to join the league?">
              Join before the end of the league's start week.
            </accordion-group>
            <accordion-group heading="What if I fail to make a pick for a week?">
              Pack your bags. You're going home.
            </accordion-group>
            <accordion-group heading="Is there anything else I should know?">
              Not really, but you can read the <a ng-click="readFaq()">faq</a> if you like.
            </accordion-group>
          </accordion>
        </div>
      </div>
    </li>
    <li class="dropdown" ng-show="hasTeamInLeague() || isCommish(leagueData)">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        Share <span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a ng-click="shareLeagueFB()">Share on Facebook</a></li>
      </ul>
    </li>
  </ul>
  <div class="weeks">
    <select class="form-control" ng-change="changeWeek(selectedWeekSlug)" ng-model="selectedWeekSlug" ng-options="leagueWeek.slug as leagueWeek.display for leagueWeek in leagueWeeks">
      <option value="">All Weeks</option>
    </select>
  </div>
  <div class="input-group custom-search-form filter-league-join">
    <input type="text" class="form-control" placeholder="Search..." ng-model="teamQuery">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>
</div>
<div class="league-container">
  <div class="league-teams list-group">
    <a class="list-group-item" ng-repeat="team in leagueTeams | orderBy:[inPlay, '-correct_picks_count', 'name'] | activeTeamFilter:teamOptions | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(team)">
      <div class="row">
        <div class="league-name col-sm-5 col-md-5">
          <i class="fa fa-user fa-fw" ng-show="isCoach(team)" title="My team"></i> <span class="team-name" ng-class="{'inactive': !team.active || isEliminated(team)}">{{team.name}}</span>
          <br>
          <span class="coach-name">Coach: {{coachName(team)}}</span>
        </div>
        <div class="col-sm-7 col-md-7">
          <span class="current-pick" ng-class="{'no-pick': team.current_pick.warning == true}" ng-show="team.active && team.started">
            <i class="fa fa-{{pickStatus(team.current_pick)}} fa-fw"></i>
            [ <span class="current-loser-name">{{team.current_pick.name}}</span><span class="current-loser-abbrev">{{team.current_pick.abbrev}}</span> ]
          </span>
          <span class="current-pick" ng-show="team.active && !team.started">Starts {{team.start_week}}</span>
          <span class="inactive-team current-pick" ng-show="!team.active">Team has been deactivated</span>
          <span class="badge">{{team.correct_picks_count}} loser<span ng-show="team.correct_picks_count != 1">s</span></span>
        </div>
      </div>
    </a>
  </div>
  <div>
    <div class="alert alert-info" ng-show="(leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length == 0">
      No teams found
    </div>
    <div class="league-teams-pagination" ng-show="leagueTeams.length > teamsPerPage && (leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length > 0">
      <pagination boundary-links="true" max-size="4" total-items="(leagueTeams | activeTeamFilter:teamOptions | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>
  </div>
</div>
