.faq-container {
  .glyphicon-chevron-left {
    float: left;
    margin: 4px 10px 0 0;
  }
  .faq-section {
    padding-bottom: 20px;
    .section-header {
      margin-top: 0;
    }
    blockquote {
      font-size: 1em;
    }
    a {
      color: #428bca;
      text-decoration: underline;
    }
  }
}

.nav-pills > li.header {
  color: #fff;
  background-color: #428bca;
  padding: 10px;
  font-size: 16px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.nav-pills > li > a {
  border-radius: 0px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.nav-stacked > li {
  margin-top: 0px !important;
  margin-left: 0;
  border-bottom:1px solid #dadada;
  border-left:1px solid #dadada;
  border-right:1px solid #dadada;
  &:first-child {
    border-top:1px solid #dadada;
  }
}

.selected-topic {
  border-right:4px solid #428bca;
  background-color: #eeeeee;
}

@media all and (max-width: 991px) {
  .faq-container {
    .faq-section {
      .section-header {
        margin-top: 20px;
      }
    }
  }
}
