.faq {
  counter-reset: faq-counter;
  margin: 40px;
}

.faq dt:before {
  content: counter(faq-counter);
  counter-increment: faq-counter;
  position: absolute;
  left: 0;
  top: 0;
  font: bold 50px/1 Sans-Serif;
}

.faq dt {
  position: relative;
  font: bold 16px Georgia;
  padding: 4px 0 10px 70px;
}

.faq dd {
  margin: 0 0 50px 0;
  padding-left: 70px;
}