<div class="modal-header">
  <button type="button" class="close" ng-click="close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">FAQ</h3>
</div>
<div class="modal-body">
  <dl class="faq">
    <dt>How much does it cost?</dt>
    <dd>Zip. Zilch. Nada. Freeeeeeeeeeee...</dd>
    <dt>How do I play?</dt>
    <dd>
      <ul>
        <li>Join a public or private league or create your own league and join it</li>
        <li>Pick ONE loser per week. How easy is that?</li>
        <li>Root for your loser.</li>
        <li>Get it right and move to the next week. Get it wrong and you’re out. Last team standing wins!</li>
      </ul>
    </dd>
    <dt>Can I pick the same loser twice?</dt>
    <dd>Nope...unless you make the playoffs, then all teams are once again available to choose from.</dd>
    <dt>Do ties count as a loss?</dt>
    <dd>No sir.</dd>
    <dt>What is the difference between a public and private league?</dt>
    <dd>Public leagues allow anyone to join. Private leagues require an invitation.</dd>
    <dt>The season has already started, can I still play?</dt>
    <dd>Yep. There’s always an open league or create your own league to start anytime during the season.</dd>
    <dt>When is the deadline to make my pick?</dt>
    <dd>Just get it in before the game starts.</dd>
    <dt>What if I fail to make a pick for a week?</dt>
    <dd>You’re gone. Hit the road, Jack!</dd>
    <dt>Can the commish make picks for me?</dt>
    <dd>Negative.</dd>
    <dt>How many times can I join a league?</dt>
    <dd>As much as the commish allows (with a max of 20 times).</dd>
    <dt>How do i win?</dt>
    <dd>Don’t be wrong. Or at least be the last one in your league to be wrong.</dd>
    <dt>What do I win?</dt>
    <dd>That is between you and the commish of the league. However, please be careful when dealing with money. Don’t send money to anyone you don’t know. Common sense, please.</dd>
    <dt>Can I see the picks of others in my league?</dt>
    <dd>Only after the game has started.</dd>
    <dt>Can I create my own league?</dt>
    <dd>You betcha.</dd>
    <dt>How do I invite my friends to join my league?</dt>
    <dd>On your league page you’ll find a button. Use it. You’ll need their email address.</dd>
    <dt>How many friends can join my league?</dt>
    <dd>As many as you like. Just to prove it, put a link to your league on Facebook and see if you can get all your Facebook friends to join.</dd>
    <dt>Can I set a limit on how many times a friend can join my league?</dt>
    <dd>You sure can. 1 - 20 times.</dd>
    <dt>How do I stop people from joining my league?</dt>
    <dd>Change the league to private or find the ‘close league to new teams’ button. Also, be aware that people can’t join a league that has already started.</dd>
    <dt>How can I remove people from my league?</dt>
    <dd>You can’t but you can deactivate (or reactivate) their team. A deactivated team is hidden from view and can’t make any picks so it will have a slow and painful death...</dd>
    <dt>Can I edit my league?</dt>
    <dd>Yes, but only before the league starts.</dd>
    <dt>Can I edit a team name in my league?</dt>
    <dd>Yes, if the commish doesn’t like the name of a team, they can change it at any time.</dd>
    <dt>What if i still have questions?</dt>
    <dd>Email me at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#101;&#114;&#101;&#109;&#121;&#64;&#108;&#111;&#115;&#101;&#111;&#114;&#103;&#111;&#104;&#111;&#109;&#101;&#46;&#99;&#111;&#109;">&#106;&#101;&#114;&#101;&#109;&#121;&#64;&#108;&#111;&#115;&#101;&#111;&#114;&#103;&#111;&#104;&#111;&#109;&#101;&#46;&#99;&#111;&#109;</a>
    </A></dd>
  </dl>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="close()">Close</button>
</div>