.week-games {
  .invalid-game, .invalid-squad {
    color: #a94442;
  }
  .invalid-squad {
    text-decoration: line-through;
  }
  .list-group-item {
    .game-display, .start-time {
      font-size: 11px;
      color: #999;
      text-decoration: none;
    }
    .badge {
      float: right;
    }
  }
}
