.week-games {
  .list-group-item {
    .game-display, .start-time {
      font-size: 11px;
      color: #999;
    }
    .badge {
      float: right;
    }
  }
  .invalid {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
}
