.week-games {
  .game-row {
    padding: 0 10px 0 10px;
  }
  .invalid-game, .invalid-squad {
    color: #a94442;
  }
  .invalid-squad {
    text-decoration: line-through;
  }
  .list-group-item {
    &.disabled {
      cursor: not-allowed;
      background-color: #f2dede;
      border-color: #ebccd1;
    }
    .game-display, .start-time {
      font-size: 11px;
      color: #999;
      text-decoration: none;
    }
    .badge {
      float: right;
    }
  }
}

