<div class="modal-header">
  <h3 class="modal-title">Pick a loser for week {{games[0].week.number}}</h3>
</div>
<div class="modal-body">
  <div ng-repeat-start="game in games" class="week-games list-group">
    <a ng-repeat="squad in game.squads" ng-click="makePick(game)" class="list-group-item" ng-class="{'invalid': !isValid(game, squad)}">
      <div class="row">
        <div class="league-name col-sm-6 col-md-6">{{squad.name}} <span class="game-display">{{game.display}}</span></div>
        <div class="col-sm-6 col-md-6">
          <span class="start-time">{{game.start_display}}</span>
          <span class="badge" ng-show="isValid(game, squad)">Pick</span>
        </div>
      </div>
    </a>
  </div>
  <hr ng-repeat-end>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>