.invite-form {
  padding: 20px;
  background-color: whitesmoke;
}

.input-error {
  color: #a94442;
  font-weight: bold;
}

.invites-tab {
  position: relative;
  margin-bottom: -1px;
  .click-to-edit {
    position: absolute;
    top: 17px;
    right: 0;
  }
}

.league-invites {

  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .list-group-item {

    .sent-date, .invite-msg {
      font-size: 11px;
      color: #999;
    }

  }

}

@media all and (max-width: 550px) {

  .invite-reset-btn {
    margin-bottom: 10px;
  }

  .league-invites {
    .list-group-item {
      .sent-date:before {
        content: '\A';
      }
    }
  }

}


