<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Invite a friend to join</h3>
</div>
<div class="modal-body">
  <form name="inviteForm" class="invite-form form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(inviteForm.email), 'has-feedback': hasError(inviteForm.email)}">
      <label for="email" class="col-sm-2 control-label">Email:</label>
      <div class="col-sm-10">
        <input id="email" name="email" type="email" class="form-control" placeholder="Enter email" ng-model="invitation.email" required>
        <small class="input-error" ng-show="hasPropertyError(inviteForm.email, 'required')">Required</small>
        <small class="input-error" ng-show="hasPropertyError(inviteForm.email, 'email')">Invalid email</small>
        <span ng-show="hasError(inviteForm.email)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(inviteForm.message), 'has-feedback': hasError(inviteForm.message)}">
      <label for="message" class="col-sm-2 control-label">Message:</label>
      <div class="col-sm-10">
        <textarea id="message" name="message" class="form-control" placeholder="Enter a optional message to deliver with the invitation..." rows="3" maxlength="200" ng-model="invitation.message"></textarea>
        <small class="input-error" ng-show="hasPropertyError(inviteForm.message, 'maxlength')">Too Long</small>
        <span ng-show="hasError(inviteForm.message)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="inviteForm.$pristine || inviteForm.$invalid" ng-click="invite(invitation)">Invite</button>
</div>