<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Invite Friends</h3>
</div>
<div class="modal-body">
  <form name="inviteForm" class="invite-form" role="form" novalidate>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group" ng-class="{'has-error': hasError(inviteForm.emails), 'has-feedback': hasError(inviteForm.emails)}">
          <label for="emails" class="control-label">Email(s):</label>
          <input id="emails" name="emails" type="text" class="form-control" placeholder="Seperate emails with a space or comma..." ng-model="invitation.email" required>
          <small class="input-error" ng-show="hasPropertyError(inviteForm.emails, 'required')">Required</small>
          <span ng-show="hasError(inviteForm.emails)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group" ng-class="{'has-error': hasError(inviteForm.message), 'has-feedback': hasError(inviteForm.message)}">
          <label for="message" class="control-label">Message:</label>
          <textarea id="message" name="message" class="form-control" placeholder="Enter a optional message to deliver with the invitation..." rows="3" maxlength="400" ng-model="invitation.message"></textarea>
          <small class="input-error" ng-show="hasPropertyError(inviteForm.message, 'maxlength')">Too Long</small>
          <span ng-show="hasError(inviteForm.message)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <button class="invite-reset-btn btn btn-default btn-block" ng-click="resetInvite()">Clear</button>
      </div>
      <div class="col-sm-6 col-md-6">
        <button class="invite-send-btn btn btn-primary btn-block" ng-disabled="inviteForm.$invalid" ng-click="sendInvite(invitation)">Send</button>
      </div>
    </div>
  </form>
  <div ng-show="isCommish">
    <hr>
    <div class="invites-tab">
      <ul class="nav nav-tabs">
        <li class="active"><a>Invites [ {{invitations.length}} ]</a></li>
      </ul>
      <span class="click-to-edit">[ click invite to edit ]</span>
    </div>
    <div class="league-invites">
      <div class="list-group">
        <a ng-repeat="invite in invitations" class="list-group-item" ng-click="populateInvite(invite)">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <i class="fa fa-check fa-fw" ng-show="invite.accepted_at" title="Accepted"></i> {{invite.email}} <span class="sent-date"><span ng-show="!invite.accepted_at">Sent {{invite.updated_at}}</span><span ng-show="invite.accepted_at">Joined  {{invite.accepted_at}}</span></span>
            </div>
          </div>
        </a>
      </div>
      <div class="no-picks-alert alert alert-info" ng-show="invitations.length == 0">
        No invites
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>