<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Create Game</h3>
</div>
<div class="modal-body">
  <h4>{{weekData.display}} | {{weekData.type}}</h4>
  <hr>
  <form name="newGameForm" role="form" novalidate>
    <div class="form-group">
      <label class="control-label" for="note">Note:</label>
      <input id="note" name="note" type="text" class="form-control" ng-model="newGameData.note">
    </div>
    <div class="form-group">
      <label class="control-label" for="visitingSquad">Visiting Squad:</label>
      <select id="visitingSquad" name="visitingSquad" class="form-control" ng-model="newGameData.visiting_squad_id" ng-options="squad.id as squad.name for squad in squads"></select>
    </div>
    <div class="form-group">
      <label class="control-label" for="homeSquad">Home Squad:</label>
      <select id="homeSquad" name="homeSquad" class="form-control" ng-model="newGameData.home_squad_id" ng-options="squad.id as squad.name for squad in squads"></select>
    </div>
    <div class="form-group">
      <label class="control-label">Starts At (Local Time):</label>
      <div class="starts-at-dropdown" uib-dropdown is-open="startsAtDropdown.isopen">
        <button type="button" class="starts-at-button btn btn-link" uib-dropdown-toggle>
          <div class="input-group">
            <input type="text" class="form-control" formatted-date data-ng-model="newGameData.starts_at" ng-required="true" ng-disabled="true">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </button>
        <ul class="uib-dropdown-menu datetimepicker-dropdown-menu" role="menu">
          <datetimepicker data-ng-model="newGameData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 1 }"/>
        </ul>
      </div>
    </div>
    <div class="form-group">
        <input id="playoff" name="playoff" type="checkbox" ng-model="newGameData.playoff"> Playoffs
    </div>
    <div class="form-group">
        <input id="tbd" name="tbd" type="checkbox" ng-model="newGameData.tbd"> TBD
    </div>
    <div class="form-group">
        <input id="if_necessary" name="if_necessary" type="checkbox" ng-model="newGameData.if_necessary"> If Necessary
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="newGameForm.$invalid" ng-click="createGame(newGameData)">Create</button>
</div>