<div class="page-header">
  <h3>{{season.name}} ({{season.start_display}} - {{season.end_display}}) <small><a ng-click="editSeason(season)">[ edit ]</a></small></h3>
</div>
<div class="season-weeks-header-row row">
  <div class="col-sm-12 col-md-12">
    <h4>Weeks [ {{weeks.length}} ] <small><a ng-click="createWeek(season)">[ create ]</a></small></h4>
    <hr>
  </div>
</div>
<div class="season-weeks list-group">
  <a ng-repeat="week in weeks" ng-click="showWeek(week)" class="list-group-item">
    <div class="row">
      <div class="col-sm-6 col-md-6"><i class="fa fa-check fa-fw" ng-show="week.complete === true" title="complete week"></i> {{week.display}}</div>
      <div class="start-end col-sm-6 col-md-6">
        <span class="badge">{{week.game_complete_count}} / {{week.game_count}} game<span ng-show="week.game_count !== 1">s</span></span>
      </div>
    </div>
  </a>
</div>
<div class="season-leagues-header-row row">
  <div class="col-sm-12 col-md-12">
    <h4>Public Leagues [ {{publicLeagues.length}} ]</h4>
    <hr>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter public leagues..." ng-model="publicQuery">
      <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </div>
</div>
<div class="season-leagues list-group">
  <a ng-repeat="publicLeague in publicLeagues | filter:publicQuery:strict" ng-click="showLeague(publicLeague)" class="list-group-item">
    <div class="row">
      <div class="league-name col-sm-6 col-md-6">{{publicLeague.name}}<br><span class="team-count league-commish">Commish: {{publicLeague.commish_names.join(', ')}}</span></div>
      <div class="col-sm-6 col-md-6">
        <span class="public-league-meta">{{publicLeague.format}}<br>Starts {{publicLeague.start_week}}</span>
        <span class="badge"><span ng-show="publicLeague.elimination">{{publicLeague.alive_team_count}}/</span>{{publicLeague.team_count}} team<span ng-show="publicLeague.team_count !== 1">s</span></span>
      </div>
    </div>
  </a>
</div><div class="season-leagues-header-row row">
  <div class="col-sm-12 col-md-12">
    <h4>Private Leagues [ {{privateLeagues.length}} ]</h4>
    <hr>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter private leagues..." ng-model="privateQuery">
      <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </div>
</div>
<div class="season-leagues list-group">
  <a ng-repeat="privateLeague in privateLeagues | filter:privateQuery:strict" ng-click="showLeague(privateLeague)" class="list-group-item">
    <div class="row">
      <div class="league-name col-sm-6 col-md-6">{{privateLeague.name}}<br><span class="team-count league-commish">Commish: {{privateLeague.commish_names.join(', ')}}</span></div>
      <div class="col-sm-6 col-md-6">
        <span class="private-league-meta">{{privateLeague.format}}<br>Starts {{privateLeague.start_week}}</span>
        <span class="badge"><span ng-show="privateLeague.elimination">{{privateLeague.alive_team_count}}/</span>{{privateLeague.team_count}} team<span ng-show="privateLeague.team_count !== 1">s</span></span>
      </div>
    </div>
  </a>
</div>