<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <div class="links">
        <a ng-click="joinLeague(season)">Join League</a>
        &nbsp;|&nbsp;
        <a ng-click="createLeague(season)">Create League</a>
        &nbsp;|&nbsp;
        <a ng-click="myTeams(season)">My Teams</a>
        &nbsp;|&nbsp;
        <a ng-click="myLeagues(season)">My Leagues</a>
        &nbsp;|&nbsp;
        <a ng-click="managedLeagues(season)">My Managed Leagues</a>
        <br>
        <span style="text-transform: none;">© 2014 Flexdevelopers.com LLC</span>
      </div>
    </div>
    <div class="col-sm-4 col-md-4">
      <div class="links" style="float: right;">
        <a href="https://www.facebook.com/loseorgohome" target="_blank"><i class="fa fa-facebook-square fa-fw" title="Facebook"></i></a>
        <a href="https://twitter.com/loseorgohome" target="_blank"><i class="fa fa-twitter fa-fw" title="Twitter"></i></a>
      </div>
    </div>
  </div>
</div>