.team-content, .play-content {

  .team-league-name {
    margin-top: 10px;
    font-size: 17px;
  }

  .make-picks-btn {
    float: right;
    margin-left: 5px;
    margin-top: 5px;
  }

  .other-team-name {
    font-size: 18px;
  }

  .other-team-pick {
    font-size: 11px;
    color: #999;
  }

  .teams-btn-link {
    text-decoration: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 25px !important;
    opacity: 1.0 !important;
  }

  .team-name {
    &.disabled {
      opacity: 1.0;
      color: #000;
    }
  }

  .team-meta {
    margin-top: 5px;
    text-align: right;
  }

  .no-picks-alert {
    margin-top: 10px;
  }

  .team-inactive {
    text-decoration: line-through;
  }

  .team-name-link {
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    &.disabled {
      color: #000;
    }
  }

  .team-message {
    margin-top: 10px;
    .accordion-toggle {
      font-size: 14px;
    }
    .team-message-text {
      display: inline;
      margin: 0;
    }
  }

  .team-container {
    position: relative;
  }

  @media all and (max-width: 767px) {
    .team-meta {
      margin-top: 5px;
      text-align: left;
    }
    .make-picks-btn {
      float: none !important;
      padding: 0;
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      height: 30px;
    }
  }

  @media all and (max-width: 550px) {
    .team-name {
      max-width: 235px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

