.team-content, .play-content {

  .team-league-name {
    margin-top: 10px;
    font-size: 17px;
  }

  .other-team-name {
    font-size: 18px;
  }

  .other-team-pick {
    font-size: 11px;
    color: #999;
  }

  .teams-btn-link {
    text-decoration: none;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 25px !important;
    opacity: 1.0 !important;
  }

  .team-name {
    &.disabled {
      opacity: 1.0;
      color: #000;
    }
  }

  .team-meta {
    margin-top: 5px;
    text-align: right;
  }

  .losers-tab {
    position: relative;
    margin-bottom: -1px;
    .make-pick-btn-container {
      position: absolute;
      top: 0;
      right: 0;
    }
    .weeks {
      position: relative;
      width: 100%;
      padding: 10px;
      background-color: #ddd;
    }
  }

  .team-picks {
    .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }
  
  .team-pick {
    &.locked {
      cursor: default;
      &:hover {
        background-color: #ffffff;
      }
    }
    &.incorrect {
      background-color: #f5f5f5;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .no-picks-alert {
    margin-top: 10px;
  }

  .pick-squad {
    font-size: 13px;
    .pick-squad-name {
      display: inline;
    }
    .pick-squad-abbrev {
      display: none;
    }
  }

  .game-column {
    text-align: right;
  }

  .team-inactive {
    text-decoration: line-through;
  }

  .team-name-link {
    max-width: 230px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0;
    padding-right: 0;
    font-size: 24px;
    &.disabled {
      color: #000;
    }
  }

  .team-message {
    margin-top: 10px;
    .team-message-text {
      display: inline;
      margin: 0;
    }
  }

  .team-container {
    position: relative;
  }

  .team-picks {
    .list-group-item {
      .game, .game-start, .week-loser {
        font-size: 11px;
        color: #999;
      }
      .week-type {
        float: right;
      }
    }
  }

  @media all and (max-width: 767px) {
    .team-picks {
      .week-name, .game-column {
        text-align: center;
      }
    }
    .team-meta {
      margin-top: 5px;
      text-align: left;
    }
  }

  @media all and (max-width: 550px) {
    .team-name {
      max-width: 235px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .pick-squad {
      font-size: 13px;
      .pick-squad-name {
        display: none;
      }
      .pick-squad-abbrev {
        display: inline;
      }
    }
    .team-picks {
      .list-group-item {
        padding: 10px 5px;
      }
    }
    .pick-squad {
      font-size: 11px;
    }

    .team-picks {
      .game, .game-start {
        font-size: 10px !important;
      }
    }
  }

}

