.team-content {

  .header-row {
    margin-right: 0;
    margin-left: 0;
  }

  .team-name {
    margin-top: 0;
    small {
      font-size: 60%
    }
  }

  .team-name-link {
    padding-left: 0;
    font-size: 24px;
    &.disabled {
      color: 000 !important; // todo this does not work make it black
      font-weight: bold;
    }
  }

  .team-btn-group {
    padding-top: 15px;
    float: right;
  }

  .team-message {
    margin-top: 10px;
  }

  .team-container {
    position: relative;
  }

  .regular-picks, .playoff-picks {
    .list-group-item {
      .game, .week-loser {
        font-size: 11px;
        color: #999;
      }
      .badge {
        float: right;
      }
    }
  }
  
}

