<div class="alert alert-danger" ng-show="!teamData.active">This team has been deactivated by the commish and will be unable to pick losers. <a class="alert-link" ng-click="contactCommish(teamData)">Contact the commish</a> if you have questions.</div>
<div class="header-row row">
  <div class="col-sm-8 col-md-8">
    <div class="btn-group teams-dropdown" dropdown is-open="teamsDropdown.isopen">
      <button type="button" class="teams-btn-link btn btn-link btn-lg dropdown-toggle" ng-disabled="!isCoach(teamData) || leagueTeams.length <= 1">
        <i class="fa fa-thumbs-up fa-fw" title="Alive" ng-show="teamData.alive"></i>
        <i class="fa fa-thumbs-down fa-fw" title="Dead" ng-show="!teamData.alive"></i> <strong><span ng-class="{'team-alive': teamData.alive, 'team-dead': !teamData.alive}">{{teamData.name}} <span ng-show="isCoach(teamData) && leagueTeams.length > 1" class="caret"></span></span></strong>
      </button>
      <ul class="dropdown-menu teams-btn-menu" role="menu">
        <li ng-repeat="team in leagueTeams" ng-show="team.id != teamData.id"><a ng-click="showTeam(team)"><span ng-show="team.active && team.alive"><i class="fa fa-thumbs-up fa-fw"></i></span><span ng-show="team.active && !team.alive"><i class="fa fa-thumbs-down fa-fw"></i></span><span ng-show="!team.active"><i class="fa fa-times fa-fw"></i></span> <span class="other-team-name" ng-class="{'team-inactive': !team.active}">{{team.name}}</span> <span class="other-team-pick">{{team.last_pick_squad_name}}</span></a></li>
      </ul>
    </div>
    <h3 class="team-league-name"><small><a ng-click="showLeague(teamData)"><i class="fa fa-chevron-left fa-fw"></i> <em>{{teamData.league.name}}</em></a></small></h3>
  </div>
  <div class="col-sm-4 col-md-4">
    <button type="button" class="make-pick-btn btn btn-primary btn-sm" ng-show="isCoach(teamData)" ng-click="makePick(teamData)">Pick Loser</button>
    <div class="btn-group team-actions" ng-show="isCoach(teamData) || isCommish(teamData)" dropdown is-open="coach.isopen">
      <button type="button" class="actions-btn btn btn-default btn-sm dropdown-toggle">
        <strong>Actions</strong> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu team-actions-menu" role="menu">
        <li><a ng-click="editTeam(teamData)">Edit team</a></li>
        <li ng-show="!isCommish(teamData)"><a ng-click="contactCommish(teamData)">Contact the commish</a></li>
        <li ng-show="isCommish(teamData)" class="divider"></li>
        <li><a ng-show="isCommish(teamData)" ng-click="updateMessage(teamData)">Edit team message</a></li>
        <li ng-show="isCommish(teamData) && !teamData.active"><a ng-click="activate(teamData)">Reactivate this team</a></li>
        <li ng-show="isCommish(teamData) && teamData.active"><a ng-click="deactivate(teamData)">Deactivate this team</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="team-message well well-sm" ng-show="teamData.message.length > 0"><i class="fa fa-comment fa-fw" title="Message for this team"></i> <strong>The commish has a message for this team:</strong> <em>{{teamData.message}}</em> <a ng-show="isCommish(teamData)" ng-click="updateMessage(teamData)">[ Update ]</a></div>
<hr>
<h4>Losers</h4>
<hr>
<div class="team-container" style="clear:both;">
    <div class="team-picks list-group">
      <a ng-repeat="pick in picks" class="list-group-item" ng-click="makePick(teamData, pick)">
        <div class="row">
          <div class="week-name col-sm-7 col-md-7">
            <i class="fa fa-lock fa-fw" ng-show="pick.locked && pick.correct == null" title="Pick locked"></i>
            <i class="fa fa-unlock fa-fw" ng-show="!pick.locked && pick.correct == null" title="Pick unlocked"></i>
            <i class="fa fa-thumbs-down fa-fw" ng-show="pick.correct === false" title="Pick wrong"></i>
            <i class="fa fa-thumbs-up fa-fw" ng-show="pick.correct === true" title="Pick correct"></i> <span ng-class="{'pick-correct': pick.correct === true, 'pick-incorrect': pick.correct === false}">[ {{pick.squad_name}} ]</span> <span class="game">{{pick.game_display}}</span>
          </div>
          <div class="col-sm-5 col-md-5">
            <span class="week-loser">{{pick.week_display}}</span>
            <span class="week-type badge">{{pick.week_type}}</span>
          </div>
        </div>
      </a>
    </div>
    <div class="alert alert-info" ng-show="picks.length == 0">
      No picks
    </div>
</div>
