<div class="alert alert-danger" ng-show="!teamData.active">This team has been deactivated by the commish and will be unable to pick losers. <a class="alert-link" ng-click="contactCommish(teamData)">Contact the commish</a> if you have questions.</div>
<div class="alert alert-danger" ng-show="teamData.active && teamData.alive && teamData.started && hasNoPick(teamData)">No loser picked for this week. <span ng-show="isCoach(teamData)"><a class="alert-link" ng-click="makePick(teamData)">Pick</a> now.</span></div>
<div class="alert alert-danger" ng-show="teamData.active && !teamData.alive">This team is DEAD. So sorry.</div>
<div class="alert alert-warning" ng-show="isCoach(teamData) && teamData.active && !teamData.started">You can make your first pick when the league starts - {{teamData.start_week_display}}</div>
<div class="alert alert-warning" ng-show="isCoach(teamData) && teamData.active && teamData.alive && teamData.last_pick.locked">Your pick is locked for {{teamData.last_pick.week}}</div>
<div class="header-row row">
  <div class="col-sm-8 col-md-8">
    <div class="btn-group teams-dropdown" dropdown is-open="teamDropdown.isopen">
      <button type="button" class="teams-btn-link btn btn-link dropdown-toggle" ng-disabled="!isCoach(teamData) && !isCommish(teamData) && !isAdmin()">
        <i class="fa fa-dollar fa-fw" ng-show="isCommish(teamData) && teamData.paid == true" title="Paid"></i> <strong><span class="team-name" ng-class="{'team-inactive': !teamData.active || !teamData.alive, 'disabled': !isCoach(teamData) && !isCommish(teamData) && !isAdmin()}">{{teamData.name}}</span> <span ng-show="isCoach(teamData) || isCommish(teamData)" class="caret"></span></strong>
      </button>
      <ul class="dropdown-menu teams-btn-menu" role="menu">
        <li><a ng-click="toggleDropdown($event);editTeam(teamData)">Edit {{teamData.name}}</a></li>
        <li><a ng-show="isCommish(teamData)" ng-click="toggleDropdown($event);updateMessage(teamData)">Edit team message</a></li>
        <li ng-show="isCommish(teamData) && !teamData.paid"><a ng-click="toggleDropdown($event);paid(teamData)">Mark team as paid</a></li>
        <li ng-show="isCommish(teamData) && teamData.paid"><a ng-click="toggleDropdown($event);unpaid(teamData)">Mark team as unpaid</a></li>
        <li ng-show="isCommish(teamData) && !teamData.active"><a ng-click="toggleDropdown($event);confirmActivate(teamData)">Reactivate this team</a></li>
        <li ng-show="isCommish(teamData) && teamData.active"><a ng-click="toggleDropdown($event);confirmDeactivate(teamData)">Deactivate this team</a></li>
        <li ng-show="!isCommish(teamData)"><a ng-click="toggleDropdown($event);contactCommish(teamData)">Contact the commish</a></li>
        <li class="divider" ng-show="leagueTeams.length > 1"></li>
        <li ng-repeat="team in leagueTeams" ng-show="team.id != teamData.id"><a ng-click="showTeam(team)"><span class="other-team-name" ng-class="{'team-inactive': !team.active || !team.alive}">{{team.name}}</span> <span class="other-team-pick">{{team.last_pick.abbrev}}</span></a></li>
      </ul>
    </div>
    <h6><a ng-click="showLeague(teamData)"><i class="fa fa-chevron-left fa-fw"></i> <span class="team-league-name">{{teamData.league.name}}</span></a></h6>
  </div>
  <div class="col-sm-4 col-md-4">
    <button type="button" class="make-pick-btn btn btn-primary" ng-show="isCoach(teamData)" ng-click="makePick(teamData)" ng-disabled="teamData.last_pick.locked || !teamData.started"><span ng-show="hasNoPick(teamData)">Pick Loser</span><span ng-show="!hasNoPick(teamData)">Change Loser</span></button>
    <h3 class="team-meta" ng-show="!isCoach(teamData)"><small>Coach [ {{teamData.coach_names.join(', ')}} ]</small></h3>
  </div>
</div>
<div class="team-message alert alert-info" ng-show="isCommish(teamData) || isCoach(teamData)"><strong>Commish to team:</strong> <p class="team-message-text" ng-show="!teamData.message || teamData.message.length == 0">nothing</p><p class="team-message-text" ng-show="teamData.message.length > 0" ng-bind-html="teamData.message | linky:'_blank'"></p> <a class="alert-link" ng-show="isCommish(teamData)" ng-click="updateMessage(teamData)">[ edit ]</a><a class="alert-link" ng-show="!isCommish(teamData)" ng-click="contactCommish(teamData)">[ contact ]</a></div>
<hr>
<div class="losers-tab">
  <ul class="nav nav-tabs">
    <li class="active"><a>Losers [ {{correctPickCount((picks | weekPicksFilter:selectedWeekId))}} ]</a></li>
  </ul>
  <div class="weeks">
    <select class="form-control" ng-change="changeWeek(selectedWeekId)" ng-model="selectedWeekId" ng-options="leagueWeek.id as leagueWeek.display for leagueWeek in leagueWeeks">
      <option value="">All Weeks</option>
    </select>
  </div>
</div>
<div class="team-container" style="clear:both;">
    <div class="team-picks list-group">
      <a ng-repeat="pick in picks | weekPicksFilter:selectedWeekId" class="team-pick list-group-item" ng-click="makePick(teamData, pick)" ng-class="{'locked': !isCoach(teamData) || pick.locked, 'incorrect': pick.correct === false}">
        <div class="row">
          <div class="week-name col-sm-7 col-md-7">
            <i class="fa fa-lock fa-fw" ng-show="pick.locked && pick.correct == null" title="Pick locked"></i>
            <i class="fa fa-unlock fa-fw" ng-show="!pick.locked && pick.correct == null" title="Pick unlocked"></i>
            <i class="fa fa-times fa-fw" ng-show="pick.correct === false" title="Pick wrong"></i>
            <i class="fa fa-check fa-fw" ng-show="pick.correct === true" title="Pick correct"></i> <span class="pick-squad"><span class="pick-squad-name">[ {{pick.squad.name}} ]</span><span class="pick-squad-abbrev">[ {{pick.squad.abbrev}} ]</span></span> <span class="game-start">{{pick.week_type}} | {{pick.week_name}}<span ng-show="pick.game_start.length > 0"> | {{pick.game_start}}</span></span>
          </div>
          <div class="game-column col-sm-5 col-md-5">
            <span class="game">{{pick.game_display}}</span>
          </div>
        </div>
      </a>
    </div>
    <div class="no-picks-alert alert alert-info" ng-show="(picks | weekPicksFilter:selectedWeekId).length == 0">
      No picks
    </div>
</div>
