<hr>
<div ng-repeat-start="game in games" class="week-games list-group">
  <div class="row">
    <div class="col-sm-12 col-md-12"><h5 class="game-display">{{game.display}}<br><small class="start-date">{{starts(game)}}</small></h5></div>
  </div>
  <div class="row game-squads">
    <div class="col-sm-6 col-md-6 game-squad" ng-repeat="squad in game.squads">
      <a ng-click="togglePick(game, squad)" class="list-group-item" ng-class="{'disabled': isDisabled(game, squad)}">
        <div class="row game-row">
          <span><span ng-show="($index === 1)">@ </span>{{squad.name}} <span class="record-score" ng-show="!game.complete">[ {{squad.record}} ]</span><span class="record-score" ng-show="game.complete">[ {{getScore(game, $index)}} ] <span ng-show="$index === 1">{{game.ot_display}}</span></span></span>
          <i class="fa fa-{{pickStatus(game, squad)}} pull-right"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div ng-repeat-end></div>
<button type="button" class="save-pick-btn btn btn-primary" ng-show="isCoach(team)" ng-disabled="!savePicksEnabled" ng-click="savePicks()">Save Picks</button>



