<hr>
<div ng-repeat-start="game in games" class="week-games list-group">
  <h5 ng-class="{'invalid-game': game.started}"><span class="game-display">{{game.display}}</span><br><small>{{starts(game)}}</small></h5>
  <a ng-repeat="squad in game.squads" ng-click="togglePick(game, squad)" class="list-group-item" ng-class="{'disabled': isDisabled(game, squad), 'is-picked': isPicked(game, squad, null)}">
    <div class="row game-row">
      <span>{{squad.name}} <span class="record-score" ng-show="!game.complete">[ {{squad.record}} ]</span><span class="record-score" ng-show="game.complete">[ {{getScore(game, $index)}} ] <span ng-show="($index === 1) && game.overtime === true">OT</span></span></span>
      <i class="fa fa-lock pull-right" ng-show="isPicked(game, squad, true)"></i>
      <i class="fa fa-unlock pull-right" ng-show="isPicked(game, squad, false)"></i>
    </div>
  </a>
</div>
<div ng-repeat-end></div>
<button type="button" class="save-pick-btn btn btn-primary" ng-show="isCoach(team)" ng-click="savePicks()">Save Picks</button>



