.team-content {

  .week-desc {
    margin-top: 10px;
    text-align: center;
  }

  .make-picks-header-row {
    margin-bottom: 15px;
    .week-display {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .save-pick-btn {
    margin-top: 20px;
    float: right;
  }

  .pick-message {
    text-align: center;
    .pick-message-text {
      font-weight: bold;
    }
  }

  .pick-content {
    padding: 10px;
    border: 1px solid #ddd;
  }

  .picks-tab {
    position: relative;
    margin-bottom: -1px;
    .custom-search-form {
      position: relative;
      width: 100%;
      padding: 10px;
      background-color: #ddd;
    }
  }

  .filter-picks {
    width: 100%;
  }

  .week-games {

    .game-row {
      padding: 0 10px 0 10px;
    }

    .game-display {
      margin-bottom: 2px;
      margin-left: 2px;
    }

    &.list-group {
      margin-bottom: 0;
    }

    .game-squads {
      margin-left: -5px;
      margin-right: -5px;
    }

    .game-squad {
      padding-left: 5px;
      padding-right: 5px;
      .list-group-item {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
    }

    .invalid-squad {
      text-decoration: line-through;
    }

    .list-group-item {

      &.disabled {
        cursor: not-allowed;
        background-color: #f5f5f5;
      }

      .game-display, .start-time {
        font-size: 11px;
        color: #999;
        text-decoration: none;
      }

      .record-score {
        font-size: 11px;
        color: #999;
      }

      .badge {
        float: right;
      }

    }

  }

  @media all and (max-width: 767px) {
    .save-pick-btn {
      float: none !important;
      padding: 0;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 100%;
      height: 30px;
    }
  }

  @media all and (max-width: 550px) {
    .game-display {
      .start-date {
        display: block;
        padding-top: 5px;
      }
    }
  }
}




