<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="home()">loseorgohome.com <span class="beta">beta</span></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
      <ul ng-show="userData.user.loaded" class="nav navbar-nav navbar-right">
        <li><a ng-click="joinLeague(season)">Join a league</a></li>
        <li><a ng-click="createLeague(season)">Create a league</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{userData.user.first_name | lowercase}}'s account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a ng-click="manageTeams(season)">My teams</a></li>
            <li><a ng-click="manageLeagues(season)">My leagues</a></li>
            <li class="divider"></li>
            <li><a ng-click="userProfile()">User Profile</a></li>
            <li><a ng-click="signout()">Sign Out</a></li>
          </ul>
        </li>
      </ul>
      <ul ng-show="!userData.user.loaded" class="nav navbar-nav navbar-right">
        <li><a ng-click="register()">Register</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In</strong></a>
          <div class="dropdown-menu panel panel-default">
            <div class="inline-signin-form panel-body">
              <form name="inlineSigninForm" role="form" ng-submit="signin(credentials); $event.stopPropagation();" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" style="cursor:auto;" placeholder="Email" ng-model="credentials.email" ng-click="$event.stopPropagation();" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" style="cursor:auto;" placeholder="Password" ng-model="credentials.password" ng-click="$event.stopPropagation();" required>
                    </div>
                </div>
                <div>
                  <button type="submit" class="submit-btn btn btn-primary pull-left" ng-disabled="inlineSigninForm.$invalid">Sign in</button>
                  <a class="forgot-password btn btn-link pull-right" role="button" ng-click="forgotPassword()">Forgot Password?</a>
                </div>
                <div style="clear: both;"></div>
                <hr>
                <div class="register"><a ng-click="register()">Don't have an account? <strong>Register</strong></a></div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container-fluid -->
</nav>