<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Edit Season</h3>
</div>
<div class="modal-body">
  <form name="seasonForm" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(seasonForm.seasonName), 'has-feedback': hasError(seasonForm.seasonName)}">
      <label class="control-label" for="seasonName">Season name:
        <small ng-show="hasPropertyError(seasonForm.seasonName, 'required')">[ Required ]</small>
        <small ng-show="hasPropertyError(seasonForm.seasonName, 'maxlength')">[ Too Long ]</small>
      </label>
      <input id="seasonName" name="seasonName" type="text" class="form-control" ng-model="seasonData.name" ng-maxlength="20" required>
      <span ng-show="hasError(seasonForm.seasonName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group" ng-class="{'has-error': hasError(seasonForm.seasonType), 'has-feedback': hasError(seasonForm.seasonType)}">
      <label class="control-label" for="seasonType">Season type (NBA, NFL, etc):
        <small ng-show="hasPropertyError(seasonForm.seasonType, 'required')">[ Required ]</small>
        <small ng-show="hasPropertyError(seasonForm.seasonType, 'maxlength')">[ Too Long ]</small>
      </label>
      <input id="seasonType" name="seasonType" type="text" class="form-control" ng-model="seasonData.season_type" ng-maxlength="10" required>
      <span ng-show="hasError(seasonForm.seasonType)" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group">
      <label class="control-label">Starts At (Local Time):</label>
      <div class="dropdown" is-open="startsAtDropdown.isopen">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" formatted-date data-ng-model="seasonData.starts_at" ng-required="true" ng-disabled="true">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
          <small>Set to future if season is not ready to go live yet</small>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="seasonData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Ends At (Local Time):</label>
      <div class="dropdown" is-open="endsAtDropdown.isopen">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" formatted-date data-ng-model="seasonData.ends_at" ng-required="true" ng-disabled="true">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
          <small>Should be the end date of the season's last week</small>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="seasonData.ends_at" data-on-set-time="closeEndsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="seasonForm.$invalid" ng-click="updateSeason(seasonData)">Update</button>
</div>