<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Create Season</h3>
</div>
<div class="modal-body">
  <form name="newSeasonForm" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(newSeasonForm.seasonName), 'has-feedback': hasError(newSeasonForm.seasonName)}">
      <label class="control-label" for="seasonName">Season name:
        <small ng-show="hasPropertyError(newSeasonForm.seasonName, 'required')">[ Required ]</small>
        <small ng-show="hasPropertyError(newSeasonForm.seasonName, 'maxlength')">[ Too Long ]</small>
      </label>
      <input id="seasonName" name="seasonName" type="text" class="form-control" ng-model="newSeasonData.name" ng-maxlength="30" required>
      <span ng-show="hasError(newSeasonForm.seasonName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
    <div class="form-group">
      <label class="control-label" for="seasonType">Season Type:</label>
      <select id="seasonType" name="seasonType" class="form-control" ng-model="newSeasonData.season_type" ng-options="seasonType as seasonType for seasonType in seasonTypes" required>
        <option value="">Select</option>
      </select>
    </div>
    <div class="form-group">
      <label class="control-label">Starts At (Local Time):</label>
      <div class="dropdown" is-open="startsAtDropdown.isopen">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" formatted-date data-ng-model="newSeasonData.starts_at" ng-required="true" ng-disabled="true">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="newSeasonData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label">Ends At (Local Time):</label>
      <div class="dropdown" is-open="endsAtDropdown.isopen">
        <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
          <div class="input-group">
            <input type="text" class="form-control" formatted-date data-ng-model="newSeasonData.ends_at" ng-required="true" ng-disabled="true">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <datetimepicker data-ng-model="newSeasonData.ends_at" data-on-set-time="closeEndsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="newSeasonForm.$invalid" ng-click="createSeason(newSeasonData)">Create</button>
</div>