<div class="games-header-row row">
  <div class="col-sm-9 col-md-9">
    <h3>Games for {{weekData.display}} <br>
    <small>Complete: {{weekData.complete}}</small></h3>
  </div>
  <div class="col-sm-3 col-md-3">
    <button type="button" class="complete-week-btn btn btn-danger btn-sm" ng-click="completeWeek(weekData)">Complete Week</button>
    <button type="button" class="send-reminder-btn btn btn-default btn-sm" ng-click="sendReminder(weekData)">Send Reminder</button>
  </div>
</div>
<div class="week-games list-group">
  <a ng-repeat="game in games" ng-click="editGame(game)" class="list-group-item">
    <div class="row">
      <div class="game-display-name col-sm-6 col-md-6"><i class="fa fa-check fa-fw" ng-show="game.complete === true" title="Pick correct"></i> {{game.display}}</div>
      <div class="game-score col-sm-6 col-md-6">{{game.squads[0].name}}: {{game.visiting_squad_score}} | {{game.squads[1].name}}: {{game.home_squad_score}}</div>
    </div>
  </a>
</div>