<div class="modal-header">
  <h3 class="modal-title">Edit Team</h3>
</div>
<div class="modal-body">
  <form name="editTeamForm" class="edit-team-form form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(editTeamForm.teamName), 'has-feedback': hasError(editTeamForm.teamName)}">
      <label for="teamName" class="col-sm-3 control-label">Team Name:</label>
      <div class="col-sm-9">
        <input id="teamName" name="teamName" type="text" class="form-control" placeholder="Enter a team name" ng-model="teamData.name" ng-maxlength="25" required>
        <small class="input-error" ng-show="hasPropertyError(editTeamForm.teamName, 'required')">Required</small>
        <small class="input-error" ng-show="hasPropertyError(editTeamForm.teamName, 'maxlength')">Too Long</small>
        <span ng-show="hasError(editTeamForm.teamName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="editTeamForm.$invalid" ng-click="editTeam(teamData)">Update</button>
</div>