.create-league-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.leagues-container {
  position: relative;
  .custom-search-form {
    width: 250px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .manage-custom-search-form {
    margin: 5px 0 5px 0;
  }
}

.public-leagues, .private-leagues, .managed-leagues {
  .list-group-item {
    .team-count, .start-week {
      font-size: 11px;
      color: #999;
    }
    .badge {
      float: right;
    }
  }
}

.public-league-pagination, .private-league-pagination, .manage-league-pagination {
  width: 253px;
  margin: -20px 0 0 auto;
}

@media all and (max-width: 550px) {
  .leagues-container {
    .custom-search-form {
      width: 100%;
      position: relative;
      margin: 5px 0 5px 0;
    }
  }
}