<div ng-show="leagues.length > 0" class="leagues-container">
  <div class="my-leagues list-group">
    <a ng-repeat="league in leagues | managedLeagueFilter:leagueOptions | filter:search:strict | offsetFilter:(currentLeaguePage-1)*leaguesPerPage | limitTo:leaguesPerPage" ng-click="viewLeague(league)" class="list-group-item">
      <div class="row">
        <div class="league-name col-sm-6 col-md-6">
          <i class="fa fa-comment fa-fw" ng-show="!isCommish(league) && league.message.length > 0" title="Has message from commish"></i>
          <i class="fa fa-user fa-fw" title="My league" ng-show="isCommish(league)"></i> {{league.name}}<br><span class="team-count league-commish">Commish: {{league.commish_names.join(', ')}}</span>
        </div>
        <div class="col-sm-6 col-md-6">
          <span class="my-league-meta"><span ng-show="league.elimination"><span class="loseorgohome">LoseOrGoHome</span><span class="logh">LOGH</span> [ single elimination ]</span><span ng-show="!league.elimination">Biggest Loser [ no elimination ]</span><br>{{starts(league)}}</span>
          <span class="badge"><span ng-show="league.elimination">{{league.alive_team_count}}/</span>{{league.team_count}} team<span ng-show="league.team_count !== 1">s</span></span>
        </div>
      </div>
    </a>
  </div>

  <div class="my-league-pagination" ng-show="leagues.length > leaguesPerPage">
    <pagination boundary-links="true" max-size="4" total-items="leagues.length" items-per-page="leaguesPerPage" ng-model="currentLeaguePage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
  </div>
  <div style="clear: both;"></div>
</div>

<!--if you have no leagues-->
<div class="leagues-alert alert alert-info" ng-show="(leagues | managedLeagueFilter:leagueOptions | filter:search:strict).length == 0">
  No leagues found
</div>

