<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Join League</h3>
</div>
<div class="modal-body">
  <form name="joinForm" class="join-form form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(joinForm.teamName), 'has-feedback': hasError(joinForm.teamName)}">
      <label for="teamName" class="col-sm-4 col-md-4 control-label">Give your team a name:</label>
      <div class="col-sm-8 col-md-8">
        <input id="teamName" name="teamName" type="text" class="form-control" placeholder="Enter name..." ng-model="newTeamData.name" ng-maxlength="30" required>
        <small class="input-error" ng-show="hasPropertyError(joinForm.teamName, 'required')">Required</small>
        <small class="input-error" ng-show="hasPropertyError(joinForm.teamName, 'maxlength')">Too Long</small>
        <span ng-show="hasError(joinForm.teamName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="joinForm.$pristine || joinForm.$invalid" ng-click="joinLeague(newTeamData)">Join</button>
</div>