<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Register</h3>
</div>
<div class="modal-body">
  <form name="newUserForm" role="form" novalidate>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.firstName), 'has-feedback': hasError(newUserForm.firstName)}">
          <label class="control-label" for="firstName">First Name
            <small ng-show="hasPropertyError(newUserForm.firstName, 'required')">[ Required ]</small>
            <small ng-show="hasPropertyError(newUserForm.firstName, 'maxlength')">[ Too Long ]</small>
          </label>
          <input id="firstName" name="firstName" type="text" class="form-control" ng-model="newUserData.first_name" ng-maxlength="15" required>
          <span ng-show="hasError(newUserForm.firstName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.lastName), 'has-feedback': hasError(newUserForm.lastName)}">
          <label class="control-label" for="lastName">Last Name
            <small ng-show="hasPropertyError(newUserForm.lastName, 'required')">[ Required ]</small>
            <small ng-show="hasPropertyError(newUserForm.lastName, 'maxlength')">[ Too Long ]</small>
          </label>
          <input id="lastName" name="lastName" type="text" class="form-control" ng-model="newUserData.last_name" ng-maxlength="20" required>
          <span ng-show="hasError(newUserForm.lastName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="user-nickname row">
      <div class="col-sm-12 col-md-12">
        <div class="form-group">
          <label class="control-label" for="nickname">Nickname</label>
          <input id="nickname" name="nickname" type="text" class="form-control" ng-model="newUserData.nickname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.email), 'has-feedback': hasError(newUserForm.email)}">
          <label class="control-label" for="email">Email
            <small ng-show="hasPropertyError(newUserForm.email, 'required')">[ Required ]</small>
            <small ng-show="hasPropertyError(newUserForm.email, 'email')">[ Invalid Email ]</small>
          </label>
          <input id="email" name="email" type="email" class="form-control" ng-model="newUserData.email" logh-focus required>
          <span ng-show="hasError(newUserForm.email)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.confirmEmail), 'has-feedback': hasError(newUserForm.confirmEmail)}">
          <label class="control-label" for="confirmEmail">Confirm Email
            <small ng-show="hasPropertyError(newUserForm.confirmEmail, 'match')">[ No Match ]</small>
          </label>
          <input id="confirmEmail" name="confirmEmail" type="email" class="form-control" ng-model="newUserData.email_confirmation" match="newUserData.email">
          <span ng-show="hasError(newUserForm.confirmEmail)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.password), 'has-feedback': hasError(newUserForm.password)}">
          <label class="control-label" for="password">Password
            <small ng-show="hasPropertyError(newUserForm.password, 'required')">[ Required ]</small>
            <small ng-show="hasPropertyError(newUserForm.password, 'minlength')">[ 8 - 50 Characters ]</small>
            <small ng-show="hasPropertyError(newUserForm.password, 'maxlength')">[ 8 - 50 Characters ]</small>
          </label>
          <input id="password" name="password" type="password" class="form-control" ng-model="newUserData.password" ng-minlength="8" ng-maxlength="50" required>
          <span ng-show="hasError(newUserForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="form-group" ng-class="{'has-error': hasError(newUserForm.confirmPassword), 'has-feedback': hasError(newUserForm.confirmPassword)}">
          <label class="control-label" for="confirmPassword">Confirm Password
            <small ng-show="hasPropertyError(newUserForm.confirmPassword, 'match')">[ No Match ]</small>
          </label>
          <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="newUserData.password_confirmation" match="newUserData.password">
          <span ng-show="hasError(newUserForm.confirmPassword)" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
      </div>
    </div>
    <div class="terms well well-sm"><strong>By clicking register, you agree to the <a ng-click="showTerms()">terms of use.</a></strong></div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button type="submit" class="btn btn-primary" ng-disabled="newUserForm.$invalid" ng-click="register(newUserData)">Register</button>
</div>