<div class="edit-league-header-row row">
  <div class="col-sm-7 col-md-7">
    <h3>Edit {{leagueData.name}}</h3>
  </div>
  <div class="col-sm-5 col-md-5">
    <div class="edit-league-btn-group">
      <button class="btn btn-default" ng-click="cancel(leagueData)">Cancel</button>
      <button class="btn btn-primary" ng-disabled="leagueForm.$invalid || editBtnDisabled" ng-click="updateLeague(leagueData)">Update</button>
    </div>
  </div>
</div>
<hr>
<form name="leagueForm" role="form" novalidate>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <div class="btn-group league-type-btn-group">
          <label class="btn btn-default league-type-btn" ng-model="leagueData.public" btn-radio="true" uncheckable>Public League<br><span class="small-gray">[ anyone can join ]</span></label>
          <label class="btn btn-default league-type-btn" ng-model="leagueData.public" btn-radio="false" uncheckable>Private League<br><span class="small-gray">[ invite only ]</span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group" ng-show="!leagueData.started">
        <div class="btn-group league-format-btn-group">
          <label class="btn btn-default league-format-btn" ng-click="leagueData.max_picks_per_week = null" ng-model="leagueData.elimination" btn-radio="false" uncheckable>Pick'em<br><span class="small-gray">[ no elimination ]</span></label>
          <label class="btn btn-default league-format-btn" ng-click="leagueData.max_picks_per_week = 1" ng-model="leagueData.elimination" btn-radio="true" uncheckable>Survivor<br><span class="small-gray">[ single elimination ]</span></label>
        </div>
      </div>
      <div class="form-group" ng-show="leagueData.started">
        <label class="control-label">League format</label>
        <input type="text" class="form-control" value="Pick'em [ no elimination ]" ng-show="!leagueData.elimination" ng-disabled="true">
        <input type="text" class="form-control" value="Survivor [ single elimination ]" ng-show="leagueData.elimination" ng-disabled="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label class="control-label" for="maxPicks">Picks per week</label>
        <select id="maxPicks" name="maxPicks" class="form-control" ng-disabled="leagueData.elimination" ng-model="leagueData.max_picks_per_week" ng-options="maxPick.number as maxPick.display for maxPick in maxPicksPerWeek"></select>
        <small class="input-error" ng-show="leagueData.elimination"><i class="fa fa-warning fa-fw" title="Warning"></i> Survivor leagues only allow 1 pick per week, no repeats</small>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group" ng-class="{'has-error': hasError(leagueForm.leagueName), 'has-feedback': hasError(leagueForm.leagueName)}">
        <label class="control-label" for="leagueName">League name
          <small ng-show="hasPropertyError(leagueForm.leagueName, 'required')">[ Required ]</small>
          <small ng-show="hasPropertyError(leagueForm.leagueName, 'maxlength')">[ Too Long ]</small>
        </label>
        <input id="leagueName" name="leagueName" type="text" class="form-control" ng-model="leagueData.name" ng-maxlength="30" required>
        <span ng-show="hasError(leagueForm.leagueName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label class="control-label">Season</label>
        <input id="seasonName" name="seasonName" type="text" class="form-control" ng-model="leagueData.season_name" ng-disabled="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label class="control-label" for="startWeek">Start week</label>
        <select id="startWeek" name="startWeek" class="form-control" ng-show="!leagueData.started" ng-model="leagueData.start_week_id" ng-options="week.id as week.display for week in weeks"></select>
        <input id="startWeekDisplay" name="startWeekDisplay" type="text" class="form-control" ng-show="leagueData.started" ng-model="leagueData.start_week_display" ng-disabled="true">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group" ng-class="{'has-error': hasError(leagueForm.maxTeams), 'has-feedback': hasError(leagueForm.maxTeams)}">
        <label class="control-label" for="maxTeams">How many times can a user join?
          <small ng-show="hasPropertyError(leagueForm.maxTeams, 'required')">[ Number Required ]</small>
          <small ng-show="hasPropertyError(leagueForm.maxTeams, 'min')">[ 1 - 10 ]</small>
          <small ng-show="hasPropertyError(leagueForm.maxTeams, 'max')">[ 1 - 10 ]</small>
        </label>
        <input id="maxTeams" name="maxTeams" type="number" placeholder="Between 1 and 10" min="1" max="10" class="form-control" ng-model="leagueData.max_teams_per_user" logh-focus required>
        <span ng-show="hasError(leagueForm.maxTeams)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="form-group">
        <label class="control-label" for="message">Message [ Optional ]</label>
        <textarea id="message" name="message" class="form-control" placeholder="Enter a message for your league here. You can change it at any time." rows="2" maxlength="500" ng-model="leagueData.message"></textarea>
      </div>
    </div>
  </div>
</form>
<div class="edit-league-btn-group">
  <button class="btn btn-default" ng-click="cancel(leagueData)">Cancel</button>
  <button class="btn btn-primary" ng-disabled="leagueForm.$invalid || editBtnDisabled" ng-click="updateLeague(leagueData)">Update</button>
</div>