<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Create Week</h3>
</div>
<div class="modal-body">
  <form name="weekForm" class="new-week-form form-horizontal" role="form" novalidate>
    <div class="form-group" ng-class="{'has-error': hasError(weekForm.weekName), 'has-feedback': hasError(weekForm.weekName)}">
      <label for="weekName" class="col-sm-3 control-label">Name:</label>
      <div class="col-sm-9">
        <input id="weekName" name="weekName" type="text" class="form-control" ng-model="weekData.name" ng-maxlength="30" required>
        <small class="input-error" ng-show="hasPropertyError(weekForm.weekName, 'required')">Required</small>
        <small class="input-error" ng-show="hasPropertyError(weekForm.weekName, 'maxlength')">Too Long</small>
        <span ng-show="hasError(weekForm.weekName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
      </div>
    </div>
    <div class="form-group">
      <label for="weekType" class="col-sm-3 control-label">Week Type (Use 1 & 2):</label>
      <div class="col-sm-9">
        <select id="weekType" name="weekType" class="form-control" ng-model="weekData.week_type_id" ng-options="weekType.id as weekType.description for weekType in weekTypes"></select>
        <small>week_type_id: {{weekData.week_type_id}}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Starts At:</label>
      <div class="col-sm-9">
        <div class="dropdown" is-open="startsAtDropdown.isopen">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
              <input type="text" class="form-control" formatted-date data-ng-model="weekData.starts_at" ng-required="true" ng-disabled="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="weekData.starts_at" data-on-set-time="closeStartsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Ends At:</label>
      <div class="col-sm-9">
        <div class="dropdown" is-open="endsAtDropdown.isopen">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="#">
            <div class="input-group">
              <input type="text" class="form-control" formatted-date data-ng-model="weekData.ends_at" ng-required="true" ng-disabled="true">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <datetimepicker data-ng-model="weekData.ends_at" data-on-set-time="closeEndsAt()" data-datetimepicker-config="{ minuteStep: 5 }"/>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="weekForm.$invalid" ng-click="createWeek(weekData)">Create</button>
</div>