<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">loseorgohome.com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Joe Loser <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">make picks</a></li>
            <li class="divider"></li>
            <li><a href="#">join a league</a></li>
            <li><a href="#">create a league</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Losers Wanted</h1>
  <p class="lead">
    <img src="images/loser.jpg" alt="Hello Loser"><br>
  </p>
  <div>
    <a class="btn btn-lg btn-success" ng-href="#">Join a League</a>
    <a class="btn btn-lg btn-success" ng-href="#">Create a League</a>
  </div>
</div>

<ul>
  <li class="dropdown">
    <a class="dropdown-toggle">
      Click me to see some awesome things!
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="league in app.leagues">
        <a>{{league.name}}</a>
      </li>
    </ul>
  </li>
</ul>
<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
