<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">loseorgohome.com</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-controller="MainCtrl">
          <a class="dropdown-toggle">
            Joe Loser
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="choice in choices">
              <a ng-click="footon(choice)">{{choice.desc}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Losers Wanted</h1>
  <p class="lead">
    <img src="images/loser.png" alt="Hello Loser"><br>
  </p>
  <div>
    <button type="button" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-user"></span> Join a League
    </button>
    <button type="button" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-plus"></span> Create a League
    </button>
  </div>
</div>

<!-- Nav tabs -->
<ul id="dashboardTabs" class="nav nav-tabs">
  <li class="active"><a href="#play" data-toggle="tab">Play</a></li>
  <li><a href="#manage" data-toggle="tab">Manage</a></li>
</ul>

<!-- Tab panes -->
<div id="dashboardTabsContent" class="tab-content">
  <div class="tab-pane active" id="home">slkj dflksj flkjsd kflsj klsjdl fkjslkf sdlkf</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
