<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">loseorgohome.com</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse bs-js-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
          <div class="dropdown-menu panel panel-default">
            <div class="panel-body">
              <form role="form" ng-submit="submit(); $event.stopPropagation();">
                <div class="form-group">
                  <input type="email" class="form-control" id="login-email" placeholder="Enter email" ng-model="user.email" ng-click="$event.stopPropagation();">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="login-password" placeholder="Password" ng-model="user.password" ng-click="$event.stopPropagation();">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron">
  <h1>Losers Wanted</h1>
  <p class="lead">
    <img src="images/loser.png" alt="Hello Loser"><br>
  </p>
  <div>
    <button type="button" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-user"></span> Join a League
    </button>
    <button type="button" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-plus"></span> Create a League
    </button>
  </div>
</div>

<!-- Nav tabs -->
<ul id="dashboardTabs" class="nav nav-tabs">
  <li class="active"><a href="#play" data-toggle="tab">Play</a></li>
  <li><a href="#manage" data-toggle="tab">Manage</a></li>
</ul>

<!-- Tab panes -->
<div id="dashboardTabsContent" class="tab-content">
  <div class="tab-pane active" id="home">slkj dflksj flkjsd kflsj klsjdl fkjslkf sdlkf</div>
  <div class="tab-pane" id="profile">...</div>
  <div class="tab-pane" id="messages">...</div>
  <div class="tab-pane" id="settings">...</div>
</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
