<div class="alive-teams list-group">
    <a ng-repeat="team in aliveTeams | filter:search:strict | offsetFilter:(currentTeamPage-1)*teamsPerPage | limitTo:teamsPerPage" ng-click="showTeam(seasonId, team)" class="list-group-item">
        <div class="row">
            <div class="team-name col-sm-6 col-md-6"><i class="fa fa-comment fa-fw" ng-show="team.message.length > 0" title="Has message from commish"></i><i class="fa fa-times fa-fw" title="Deactivated Team" ng-show="!team.active"></i> <span ng-class="{'inactive-team-name': !team.active}">{{team.name}}</span> <span class="team-league">{{team.league.name}}</span></div>
            <div class="col-sm-6 col-md-6">
                <span class="current-pick" ng-class="{'no-pick': hasNoPick(team)}" ng-show="team.active">Current Loser: {{team.last_pick_squad_name}}</span>
                <span class="inactive-team" ng-show="!team.active">Contact the commish to reactivate team</span>
                <span class="badge">View</span>
            </div>
        </div>
    </a>
</div>

<div class="alive-teams-pagination" ng-show="aliveTeams.length > teamsPerPage && (aliveTeams | filter:search:strict).length > 0">
  <pagination boundary-links="true" max-size="4" total-items="(aliveTeams | filter:search:strict).length" items-per-page="teamsPerPage" ng-model="currentTeamPage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
<div style="clear: both;"></div>

<div class="alert alert-info" ng-show="aliveTeams.length == 0">
  No alive teams :( Maybe you should <a class="alert-link" ng-click="createTeam(seasonId)">join a league</a> pronto!
</div>
