<div class="team-message alert alert-warning" ng-show="isCoach(team) && isCurrentPickLocked()"><p class="team-message-text">Your pick for {{week.name}} ({{week.type}}) is locked [ {{currentPick.squad.name}} ]</p></div>
<hr>
<div ng-repeat-start="game in games" class="week-games list-group">
  <div class="row">
    <div class="col-sm-12 col-md-12"><h5 class="game-display">{{game.display}}<br><small class="start-date">{{starts(game)}}</small></h5></div>
  </div>
  <div class="row game-squads">
    <div class="col-sm-6 col-md-6 game-squad" ng-repeat="squad in game.squads">
      <a ng-click="makePick(game, squad)" class="list-group-item" ng-class="{'disabled': isDisabled(game, squad)}">
        <div class="row game-row">
          <span ng-show="($index === 1)">@ </span><span ng-class="{'invalid-squad': hasSquadBeenUsed(game, squad)}"><span ng-show="squad.seed > 0">({{squad.seed}}) </span>{{squad.name}} <span class="record-score" ng-show="!game.complete">[ {{squad.record}} ]</span><span class="record-score" ng-show="game.complete">[ {{getScore(game, $index)}} ] <span ng-show="$index === 1">{{game.ot_display}}</span></span></span>
          <i class="fa fa-{{pickStatus(game, squad)}} pull-right"></i>
        </div>
      </a>
    </div>
  </div>
</div>
<div ng-repeat-end></div>

