<div class="manage-leagues-header-row row">
  <div class="col-sm-9 col-md-9">
    <h3>I manage these leagues...</h3>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="manage-leagues-btn-group">
      <button type="button" class="create-league-btn btn btn-primary" ng-click="createLeague()">Create League</button>
    </div>
  </div>
</div>
<hr>

<!--if you have managed leagues (i.e. if you're a commish)-->
<div ng-show="managedLeagues.length > 0" class="leagues-container">

    <div class="managed-leagues list-group">
        <a ng-repeat="league in managedLeagues | offsetFilter:(currentLeaguePage-1)*leaguesPerPage | limitTo:leaguesPerPage" ng-click="viewLeague(league)" class="list-group-item">
            <div class="row">
                <div class="league-name col-sm-6 col-md-6">
                  <i class="fa fa-unlock fa-fw" title="My Public league" ng-show="league.public"></i>
                  <i class="fa fa-lock fa-fw" title="My Private league" ng-show="!league.public"></i> {{league.name}}</div>
                <div class="col-sm-6 col-md-6">
                    <span class="start-week">{{starts(league)}}</span>
                    <span class="badge">{{league.team_count}} teams</span>
                </div>
            </div>
        </a>
    </div>

    <!--dynamic pagination-->
    <div class="manage-league-pagination" ng-show="managedLeagues.length > leaguesPerPage">
        <uib-pagination boundary-links="true" max-size="4" total-items="managedLeagues.length" items-per-page="leaguesPerPage" ng-model="currentLeaguePage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
    </div>
    <div style="clear: both;"></div>
</div>

<!--if you have no managed leagues-->
<div class="alert alert-info" ng-show="managedLeagues.length == 0">
  You are not the commish of any leagues. <a class="alert-link" ng-click="createLeague(season)">Create one</a> and invite all your friends.
</div>
