<div class="public-leagues list-group">
    <a ng-repeat="league in publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict | offsetFilter:(currentLeaguePage-1)*leaguesPerPage | limitTo:leaguesPerPage" ng-click="showLeague(league)" class="list-group-item">
        <div class="row">
            <div class="league-name col-sm-5 col-md-5" ng-class="{'closed': !league.open}"><i class="fa fa-times fa-fw" title="Closed league" ng-show="!league.open"></i> {{league.name}}<br><span class="team-count league-commish">Commish: {{league.commish_names.join(', ')}}</span></div>
            <div class="col-sm-7 col-md-7">
                <span class="public-league-meta">{{league.format}}<br>Starts {{league.start_week}}</span>
                <span class="badge">{{league.team_count}} team<span ng-show="league.team_count !== 1">s</span></span>
            </div>
        </div>
    </a>
</div>

<div class="public-league-pagination" ng-show="publicLeagues.length > leaguesPerPage && (publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict).length > 0">
    <pagination boundary-links="true" max-size="4" total-items="(publicLeagues | openLeagueFilter:leagueOptions |filter:search:strict).length" items-per-page="leaguesPerPage" ng-model="currentLeaguePage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
<div class="alert alert-info" ng-show="(publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict).length == 0">
  No leagues found
</div>
