<div class="public-leagues list-group">
    <a ng-repeat="league in publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict | offsetFilter:(currentLeaguePage-1)*leaguesPerPage | limitTo:leaguesPerPage" ng-click="showLeague(league)" class="list-group-item">
        <div class="row">
            <div class="league-name col-sm-6 col-md-6" ng-class="{'closed': !league.open}"><i class="fa fa-times fa-fw" title="Closed league" ng-show="!league.open"></i> {{league.name}}<br><span class="team-count league-commish">Commish: {{league.commish_names.join(', ')}}</span></div>
            <div class="col-sm-6 col-md-6">
                <span class="public-league-meta"><span ng-show="league.elimination"><span class="loseorgohome">LoseOrGoHome</span><span class="logh">LOGH</span> [ single elimination ]</span><span ng-show="!league.elimination">Biggest Loser [ no elimination ]</span><br>Starts {{league.start_week}}</span>
                <span class="badge">{{league.team_count}} teams</span>
            </div>
        </div>
    </a>
</div>

<div class="public-league-pagination" ng-show="publicLeagues.length > leaguesPerPage && (publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict).length > 0">
    <pagination boundary-links="true" max-size="4" total-items="(publicLeagues | openLeagueFilter:leagueOptions |filter:search:strict).length" items-per-page="leaguesPerPage" ng-model="currentLeaguePage" class="pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
<div class="alert alert-info" ng-show="(publicLeagues | openLeagueFilter:leagueOptions | filter:search:strict).length == 0">
  No leagues found
</div>
