.filter-league-join {
  width: 100%;
}

.public-league-meta, .private-league-meta {
  font-size: 11px;
  color: #999;
  .loseorgohome {
    display: inline;
  }
  .logh {
    display: none;
  }
}

.public-leagues, .private-leagues {
  .list-group-item:first-child {
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .league-commish {

  }
}

.join-leagues-tabs {
  position: relative;
  margin-bottom: -1px;
  .seasons {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
  }
}

.closed-leagues-checkbox {
  float: right;
  margin: 5px;
}

.league-name.closed {
  text-decoration: line-through;
}

.join-leagues-header-row {
  margin-bottom: 15px;
}

.join-leagues-btn-group {
  padding-top: 20px;
  float: right;
}

@media all and (max-width: 767px) {
  .join-leagues-btn-group {
    float: none !important;
    padding: 0;
  }
  .create-league-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .closed-leagues-checkbox {
    float: none;
  }
}

@media all and (max-width: 550px) {
  .join-leagues-tabs {
    .leagues {
      display: none;
    }
  }
  .public-leagues, .private-leagues {
    .league-commish {
      display: none;
    }
  }
  .public-league-meta, .private-league-meta {
    .loseorgohome {
      display: none;
    }
    .logh {
      display: inline;
    }
  }
}



