<div class="join-leagues-header-row row">
  <div class="col-sm-9 col-md-9">
    <h3>Join a league...</h3>
  </div>
  <div class="col-sm-3 col-md-3">
    <div class="join-leagues-btn-group">
      <button type="button" class="create-league-btn btn btn-primary" ng-click="createLeague(currentSeasonId)">Create League</button>
    </div>
  </div>
</div>
<hr>
<div class="join-leagues-tabs">
  <ul class="nav nav-tabs">
    <li ng-class="{'active': isPublic()}" ng-click="resetSearch()">
      <a ng-click="publicLeagues()"><i class="fa fa-unlock fa-fw" title="Public leagues"></i> Public <span class="leagues">Leagues</span></a>
    </li>
    <li ng-class="{'active': !isPublic()}" ng-click="resetSearch()">
      <a ng-click="privateLeagues()"><i class="fa fa-lock fa-fw" title="Private leagues"></i> Private <span class="leagues">Leagues</span></a>
    </li>
  </ul>
  <div class="seasons">
    <select class="form-control" ng-change="changeSeason()" ng-model="selectedSeason.id" ng-options="currentSeason.id as currentSeason.name for currentSeason in currentSeasons"></select>
  </div>
</div>
<div class="input-group custom-search-form filter-league-join">
  <input type="text" class="form-control" placeholder="Search..." ng-model="leagueQuery">
</div>

<!-- placeholder for public and private leagues -->
<div class="leagues-content" ui-view="joinLeaguesContent"></div>

