<div class="page-header">
    <h3>Select a league to join...</h3>
</div>
<div class="leagues-container">
    <ul class="nav nav-tabs">
        <li ng-class="{'active': isPublic()}">
            <a ng-click="publicLeagues(seasonId)"><i class="glyphicon glyphicon-ok-sign"></i> Public</a>
        </li>
        <li ng-class="{'active': !isPublic()}">
            <a ng-click="privateLeagues(seasonId)"><i class="glyphicon glyphicon-lock"></i> Private</a>
        </li>
    </ul>
    <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Filter by name..." ng-model="search.name">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
</div>



<!-- placeholder for public and private leagues -->
<div class="leagues-content" ui-view="joinLeaguesContent"></div>

