.home-content-container {
  color: white;
  position: relative;
  text-align: center;
  padding: 60px 20px;
  max-width: 650px;
  margin: 0 auto;
}

.cta {
  margin: 10px 20px;
  width: 200px;
}

.header-jumbo {
  font-weight: 600;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 .2em;
}

@media screen and (min-width: 767px) {
  .header-jumbo {
    font-size: 56px;
  }
}

@media screen and (min-width: 992px) {
  .header-jumbo {
    font-size: 64px;
  }
}
