.landing {
  width: 100%;
  height: 95%;
  margin-top: -20px;
  .text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 60px;
    color: #fff;
  }

  .text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
  }

  .format-divider {
    display: none;
  }

  .more-arrow {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 40px;
    right: 25%;
    left: 50%;
    margin-left: -14px;
    color: #fff;
  }

  /* Custom Button Styles */

  .btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
  }

  .btn-dark:hover,
  .btn-dark:focus,
  .btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.9);
  }

  .btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
  }

  .btn-light:hover,
  .btn-light:focus,
  .btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
  }

  .header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/resources/assets/images/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .tagline {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .about {
    padding: 30px 0;
    .format-desc {
      padding: 0 40px;
    }
  }

  .services {
    padding: 50px 0;
  }

  .service-item {
    margin-bottom: 30px;
  }

  .call-to-action {
    padding: 50px 0;
    .btn {
      width: 200px;
    }
  }

  .call-to-action .btn {
    margin: 10px;
  }

  @media(max-width:1200px) {
    .format-divider {
      display: block;
      max-width: 100px;
    }
  }

  @media(max-width:765px) {
    .text-vertical-center h1 {
      margin: 0;
      padding: 0;
      font-size: 3.5em;
      font-weight: 500;
    }
    .format-desc h2 {
      font-size: 28px;
    }
  }

  footer {
    padding: 100px 0;
  }

}

.header {
  .cta {
    font-size: 16px;
    margin: 0 20px 10px 20px;
    //  min-width: 200px;
    width: 275px;
    display: block;
    margin: 15px auto;
  }
}

.trademark-disclosure {
  font-size: 12px;
}
