<div>

    <div class="jumbotron">
        <h1>Losers Wanted</h1>
        <p class="lead">
            <img src="resources/assets/images/loser.png" alt="Hello Loser"><br>
        </p>
        <div>
          <a class="btn btn-primary" role="button" ng-click="createLeague(season)"><i class="glyphicon glyphicon-plus"></i> Create League</a>
          <a class="btn btn-primary" role="button" ng-click="joinLeague(season)"><i class="glyphicon glyphicon-user"></i> Join League</a>
        </div>
        <div>
          <a class="btn btn-primary" role="button" ng-click="viewLeagues(season)"><i class="glyphicon glyphicon-star"></i> My Leagues</a>
          <a class="btn btn-primary" role="button" ng-click="viewTeams(season)"><i class="glyphicon glyphicon-star"></i> My Teams</a>
        </div>
    </div>

    <!--<div ui-view="content"></div>-->

</div>