<div class="home-content-container">
    <h1 class="header-jumbo">Losing is Everything.</h1>
    <p class="lead">Pick a different NFL or NBA loser each week. Single elimination or non-elimination leagues are waiting for you. Join anytime for free.</p>
  <div>
    <a class="cta btn btn-primary btn-lg" role="button" ng-click="joinLeague(selectedSeasonId)">Join League</a>
  </div>
  <div>
    <a class="cta btn btn-primary btn-lg" role="button" ng-click="createLeague(selectedSeasonId)">Create League</a>
  </div>
</div>
