<div class="signin-box panel panel-default">
  <div class="panel-body">
    <form name="signinForm" role="form" ng-submit="signin({ email: credentials.email.toLowerCase(), password: credentials.password })" novalidate>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
          <input type="email" class="form-control" autocomplete="off" placeholder="Email" ng-model="credentials.email" rc-verify-set autofocus required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
          <input type="password" class="form-control" autocomplete="off" placeholder="Password" ng-model="credentials.password" rc-verify-set required>
        </div>
      </div>
      <button type="submit" class="btn btn-block btn-primary">Sign in with email</button>
      <div class="orDiv"><span>or</span></div>
    </form>
    <button class="btn btn-block btn-primary" ng-click="signinGuest()">Sign in as guest</button>
    <hr>
    <div class="signin-other-container"><a ng-click="register()">Register</a> | <a ng-click="resetPassword()">Reset Password</a></div>
  </div>
</div>
