// app.leagues state

.league-tab-heading {
  font-size: 14px;
  font-weight: bold;
}

.list-group-item {
  .start-week {
    font-size: 11px;
    color: #999;
  }
  .badge {
    float: right;
  }
}

.custom-search-form {
  width: 250px;
  float: right;
}

.league-pagination {
  width: 300px;
  margin: -20px auto 0 auto;
}

@media all and (max-width: 600px) {
  .league-count {
    display: none;
  }
  .custom-search-form {
    width: 145px;
    .input-group-btn {
      display: none;
    }
  }
}

// end app.leagues state