<div class="list-group">
    <a ng-repeat="league in privateLeagues" class="list-group-item">
        <div class="row">
            <div class="league-name col-sm-4 col-md-4">{{league.name}}</div>
            <div class="col-sm-8 col-md-8">
                <span class="">{{league.team_count}} teams</span>
                <span class="start-week">- Starts {{league.week_display}}</span>
                <span class="badge">Request Invite</span>
            </div>
        </div>
    </a>
</div>

<!--pagination-->

<div class="league-pagination">
    <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
