<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">{{leagueData.league.name}} League </h3>
    </div>

    <div class="panel-body">
        <form name="leagueForm" role="form" novalidate>
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group" ng-class="{'has-error': hasError(leagueForm.leagueName), 'has-feedback': hasError(leagueForm.leagueName)}">
                        <label class="control-label" for="leagueName">League Name
                            <small ng-show="hasPropertyError(leagueForm.leagueName, 'required')">[ Required ]</small>
                            <small ng-show="hasPropertyError(leagueForm.leagueName, 'maxlength')">[ Too Long ]</small>
                        </label>
                        <input id="leagueName" name="leagueName" type="text" class="form-control" ng-model="leagueData.league.name" ng-maxlength="30" focus required>
                        <span ng-show="hasError(leagueForm.leagueName)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group" ng-class="{'has-error': hasError(leagueForm.maxTeams), 'has-feedback': hasError(leagueForm.maxTeams)}">
                        <label class="control-label" for="maxTeams">Max Teams per User
                            <small ng-show="hasPropertyError(leagueForm.maxTeams, 'required')">[ Number Required ]</small>
                            <small ng-show="hasPropertyError(leagueForm.maxTeams, 'min')">[ 1 - 10 ]</small>
                            <small ng-show="hasPropertyError(leagueForm.maxTeams, 'max')">[ 1 - 10 ]</small>
                        </label>
                        <input id="maxTeams" name="maxTeams" type="number" placeholder="Between 1 and 10" min="1" max="10" class="form-control" ng-model="leagueData.league.max_teams_per_user" focus required>
                        <span ng-show="hasError(leagueForm.maxTeams)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="startWeek">Start Week</label>
                        <select id="startWeek" name="startWeek" class="form-control" ng-model="leagueData.league.start_week_id" ng-options="week.id as week.starts_at for week in weeks"></select>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label class="radio-inline">
                            <input type="radio" ng-model="leagueData.league.public" ng-click="hidePasswordFields(true)" ng-value="true"> Public League
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="leagueData.league.public" ng-click="hidePasswordFields(false)" ng-value="false"> Private League
                        </label>
                    </div>
                </div>
            </div>

            <div collapse="isPasswordHidden">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group" ng-class="{'has-error': hasError(leagueForm.password), 'has-feedback': hasError(leagueForm.password)}">
                            <label class="control-label" for="password">New League Password
                                <small ng-show="hasPropertyError(leagueForm.password, 'required')">[ Required ]</small>
                                <small ng-show="hasPropertyError(leagueForm.password, 'pattern')">[ Too Short ]</small>
                            </label>
                            <input id="password" name="password" type="password" class="form-control" ng-model="leagueData.league.password" ng-required="changedToPrivate()" rpattern="/.{6}/" focus>
                            <span ng-show="hasError(leagueForm.password)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group" ng-class="{'has-error': hasError(leagueForm.confirmPassword), 'has-feedback': hasError(leagueForm.confirmPassword)}">
                            <label class="control-label" for="confirmPassword">Confirm New League Password
                                <small ng-show="hasPropertyError(leagueForm.confirmPassword, 'match')">[ Doesn't Match ]</small>
                            </label>
                            <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" ng-model="leagueData.league.password_confirmation" match="leagueData.league.password">
                            <span ng-show="hasError(leagueForm.confirmPassword)" class="glyphicon glyphicon-remove form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-info btn-block" ng-disabled="leagueForm.$pristine || leagueForm.$invalid" ng-click="updateLeague(leagueData.league)">Update League</button>

        </form>
    </div>
</div>