.picks-content {

  .losers-tab {
    position: relative;
    margin-bottom: -1px;
    .make-pick-btn-container {
      position: absolute;
      top: 0;
      right: 0;
      .make-pick-btn {
        width: 150px;
      }
    }
    .weeks {
      position: relative;
      width: 100%;
      padding: 10px;
      background-color: #ddd;
    }
  }

  .team-picks {
    .list-group-item:first-child {
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
    }
  }

  .team-pick {
    &.locked {
      cursor: default;
      &:hover {
        background-color: #ffffff;
      }
    }
    &.incorrect {
      background-color: #f5f5f5;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }

  .pick-squad {
    font-size: 13px;
    .pick-squad-name {
      display: inline;
    }
    .pick-squad-abbrev {
      display: none;
    }
  }

  .game-column {
    text-align: right;
  }

  .team-picks {
    .list-group-item {
      .game, .game-start, .week-loser {
        font-size: 11px;
        color: #999;
      }
      .week-type {
        float: right;
      }
    }
  }


  @media all and (max-width: 767px) {
    .team-picks {
      .week-name, .game-column {
        text-align: left;
      }
      .pick-icon {
        float: right;
      }
    }
  }

  @media all and (max-width: 550px) {
    .pick-squad {
      font-size: 11px;
      .pick-squad-name {
        display: none;
      }
      .pick-squad-abbrev {
        display: inline;
      }
    }
    .team-picks {
      .game, .game-start {
        font-size: 10px !important;
      }
    }
  }


}