<div class="losers-tab">
  <ul class="nav nav-tabs">
    <li class="active"><a>Losers [ {{correctPickCount((picks | weekPicksFilter:selectedWeek:teamData.league.elimination))}} / {{(picks | weekPicksFilter:selectedWeek:teamData.league.elimination).length}} ]</a></li>
    <li class="uib-dropdown" ng-show="isCoach(teamData)">
      <div class="share-dropdown" uib-dropdown is-open="share.isopen">
        <button type="button" class="share-button btn btn-link" uib-dropdown-toggle>Share <span class="caret"></span></button>
        <ul class="uib-dropdown-menu" role="menu">
          <li><a ng-click="shareTeamFB()">Share on Facebook</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="weeks">
    <select class="form-control" ng-change="changeWeek(selectedWeekSlug)" ng-model="selectedWeekSlug" ng-options="leagueWeek.slug as leagueWeek.display for leagueWeek in leagueWeeks">
      <option value="">All Weeks</option>
    </select>
  </div>
</div>
<div class="team-container" style="clear:both;">
  <div class="team-picks list-group">
    <a ng-repeat="pick in picks | weekPicksFilter:selectedWeek:teamData.league.elimination" class="team-pick list-group-item" ng-click="makePick(teamData, pick)" ng-class="{'locked': !isCoach(teamData) || pick.locked, 'incorrect': pick.correct === false || (pick.game && pick.game.incomplete === true)}">
      <div class="row">
        <div class="week-name col-sm-7 col-md-7">
          <i class="fa fa-{{pickStatus(pick)}} fa-fw pick-icon"></i> <span class="pick-squad"><span class="pick-squad-name">[ {{pick.squad.name}} ]</span><span class="pick-squad-abbrev">[ {{pick.squad.abbrev}} ]</span></span> <span class="game-start">{{pickMeta(pick)}}</span></span>
        </div>
        <div class="game-column col-sm-5 col-md-5">
          <span class="game">{{pick.game.display}}</span>
        </div>
      </div>
    </a>
  </div>
  <div class="no-picks-alert alert alert-info" ng-show="(picks | weekPicksFilter:selectedWeek:teamData.league.elimination).length == 0">
    No picks
  </div>
</div>
