.leagues-container {
  position: relative;
}

.league-tab-heading {
  font-size: 14px;
  font-weight: bold;
}

.list-group-item {
  .start-week, .team-count {
    font-size: 11px;
    color: #999;
  }
  .badge {
    float: right;
  }
}

.custom-search-form {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}

.league-pagination {
  margin: -20px auto 0 0;
}

@media all and (max-width: 500px) {
  .custom-search-form {
    width: 100%;
    position: relative;
  }
}