<div class="list-group">
    <a ng-repeat="league in privateLeagues | filter:search:strict | offsetFilter:(currentLeaguePage-1)*leaguesPerPage | limitTo:leaguesPerPage" class="list-group-item">
        <div class="row">
            <div class="league-name col-sm-4 col-md-4">{{league.name}}</div>
            <div class="col-sm-8 col-md-8">
                <span class="">{{league.team_count}} teams</span>
                <span class="start-week">- Starts {{league.week_display}}</span>
                <span class="badge">Request Invite</span>
            </div>
        </div>
    </a>
</div>

<!--dynamic pagination-->
<div class="league-pagination">
    <pagination boundary-links="true" max-size="5" total-items="(privateLeagues | filter:search:strict).length" items-per-page="leaguesPerPage" ng-model="currentLeaguePage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
</div>
